[2011-05-27 17:42] cowboyd opened #1 "add constant for v8 version"
to be distinguished from the the gem version.

[2011-05-27 17:54] cowboyd opened #2 "library_path is incorrect for non-binary installs."

[2011-05-27 18:27] #1 closed, assigned to nobody

[2011-05-27 19:04] #2 closed, assigned to nobody

[2011-05-27 20:02] cowboyd opened #3 "Trim down the amount of stuff in libv8"
We don't need the tests, samples. in the binary, we don't need scons or the v8 source.

[2011-05-27 20:04] cowboyd opened #4 "Getting odd warnings in ri and rdoc installs"
look familiar?

[code]

[2011-05-27 21:06] cowboyd opened #5 "add -fPIC to the v8 compile"
Won't compile on linuxes otherwise.

[2011-05-31 14:48] cowboyd opened #6 "Upgrade SCons to 2.0.1"
Our version of SCons (1.2) is incompatible with python 3.1

[code]

[2011-05-31 15:55] cowboyd opened #7 "Fill in development section in README"
One of our goals is to be able to get community members to help fix the builds for their specific platforms.

They need instructions about how to clone the repo, update the modules and test out the compile for themselves.

[2011-06-01 21:27] #6 closed, assigned to nobody

[2011-06-01 21:29] #5 closed, assigned to nobody

[2011-06-02 19:04] #4 closed, assigned to nobody

[2011-06-02 19:16] #7 closed, assigned to nobody

[2011-06-02 21:53] cowboyd opened #8 "linking issues on gentoo-amd64"
see [here](/cowboyd/therubyracer/issues/77)

[2011-06-09 13:18] leifbladt opened #9 "Can't deploy with cached gems"
I use the newest `therubyracer` beta gem

<pre>
gem 'therubyracer', '0.9.0beta7'
</pre>

When I try to deploy the remote bundler call fails with the following error message:

<pre>
Some gems seem to be missing from your vendor/cache directory.
Could not find libv8-3.3.10.2 in any of the sources
</pre>

Is there a chance to get this running?

[2011-06-09 14:32] #9 closed, assigned to nobody

[2011-06-15 15:45] fractaloop opened #10 "Set up gemmer to automatically build new versions for new tags"

[2011-06-26 07:56] jscheid opened #11 "Native build from gem silently fails if python is absent"
Hi, I ran into an issue where `gem install libv8` would succeed without any error messages but didn't build the native libraries.

[code]

I decided to follow the instructions in your readme and build it from a git clone, which complained about python absent (this is on a bare colo server with a minimal install):

[code]

So I installed python and reinstalled the gem, and this time it installed th

[2011-07-03 14:27] etehtsea opened #12 "x86-linux binary version"
You mentioned that x86-linux precompiled version is supported, but [I don't see any](http://rubygems.org/gems/libv8).

[2011-07-07 01:58] wezm opened #14 "Metadata of gem 3.3.10.2-x86-linux causes ruby 1.8.6 to crash"
The metadata file of the linux-x86 build of version 3.3.10.2 of this gem causes ruby 1.8.6 to be terminated in an environment with buffer overflow protection (such as Ubuntu 10.04). The crash seen when installing the gem is shown at the end of this issue. The specific line in the metadata YAML file that causes the error is the date:

[code]

removing the fractional seconds fixes the issue:

[code]

[2011-07-11 16:11] cowboyd opened #15 "Binary gem for Lion"
looks like the platform id is different for lion, and so it tries to install from source: cowboyd/therubyracer#90

/cc @mhat

[2011-07-11 16:14] cowboyd opened #16 "Source install doesn't work with Lion"
libv8.a is not generated in the expected place, see cowboyd/therubyracer#90

/cc @mhat

[2011-07-11 18:19] #11 closed, assigned to nobody

[2011-07-12 10:11] BrianGenisio opened #17 "No license in source"
You do not include a LICENCE file in your source.  I am assuming MIT, but since I don't see one, I can't know for sure.

Thanks!

[2011-07-12 20:38] #17 closed, assigned to cowboyd

[2011-08-04 15:07] darix opened #18 "Support handling libv8 from the system"
After a quick discussion with cowboyd on irc about libv8 and therubyracer. we came to the conclusion the best way to avoid duplicating the libv8 library would be in the libv8 gem.

It would be nice that the gem will not build the v8 sources when it detects a working/recent enough libv8.

Libv8.include_path()
Libv8.library_path()

should then point to the system paths with the library/headers.

[2011-09-01 01:03] sgonyea opened #20 "Only install V8 if it is not present on the system?"
I'm on Lion and already have V8 installed.  I would think that wrapping around an already installed library is the ideal scenario.  Other libraries, such as the Ruby Image Magick library, handle things in this way.  Compiling v8 could always be done if v8 is not present.

[2011-10-06 19:51] #8 closed, assigned to nobody

[2011-10-14 01:23] benatkin opened #21 "fails silently when a scons issue on my machine is encountered"
I have been having trouble installing _therubyracer_ so I peeked in the _libv8_ gem's directory. After not finding the expected binaries, I tried installing it again. I saw that it says it was successfully installed, without much output:

[code]

Unsure of it, I took a look at the `--verbose` output.

[code]

[2011-10-14 17:19] #21 closed, assigned to nobody

[2011-11-15 16:44] #16 closed, assigned to nobody

[2011-11-15 16:56] oparoz opened #22 "Doesn't compile on FreeBSD 8"
Compilation stops with:

<pre>
g++46 -shared -o v8.so v8_handle.o v8_exception.o v8_try_catch.o v8_v8.o v8.o v8_template.o v8_message.o v8_object.o v8_script.o v8_callbacks.o v8_locker.oms/libv8-3.3.10.4/lib/libv8/build/v8 -Wl,-R/usr/local/rvm/gems/ruby-1.9.2-p290@rails3/gems/libv8-3.3.10.4/lib/libv8/build/v8 -L. -L/usr/local/rvm/rubies/rucal/rvm/rubies/ruby-1.9.2-p290/lib -lruby  -lthr -lrt -lcry

[2011-11-15 17:06] cowboyd opened #23 "source install does not work on Ubuntu 10.04 with ruby 1.8.7"
http://travis-ci.org/#!/rubyworks/malt/builds/309576

[2011-11-18 13:17] josh-m-sharpe opened #24 "can't install 3.3.10.4 on ubuntu"
$ sudo gem install libv8 -v '3.3.10.4'
ERROR:  While executing gem ... (ArgumentError)
    marshal data too short

I reverted to 3.3.10.2, works fine.

[2011-11-18 14:56] #24 closed, assigned to nobody

[2011-12-02 00:43] dvereber opened #25 "Python Not Found"
Hi all, I am still coming up to speed with this whole rails/gems thing.  I am trying to bundle install to get therubyracer working when bundeler says:

I then installed python....C:\Python32\python.exe

but no luck. Is there a path variable I need to export?  I am doing my work in Aptana which has some sort of a cygwin type terminal.

[2011-12-02 16:21] #23 closed, assigned to nobody

[2011-12-31 15:35] deric opened #26 "doesn't work on Gentoo AMD 64"
after I installing libv8 (3.3.10.4)  I get always this error.
<code>#
       # Fatal error in v8::V8::AddGCPrologueCallback()
       # V8 is no longer usable
      #</code>
 I managed to compile natively V8 and node.js, however for node.js I had to disable MPROTECT to make it work. So, it might be connected to this, but I don't know how to debug it.

[2012-01-23 19:23] courtland opened #27 "3.3.10.2 installs on FreeBSD, but 3.3.10.4 does not"
Something seems to have broken between the .2 point release and .4 that breaks installing the gem under FreeBSD.

FreeBSD ncr-vm.local 8.2-STABLE FreeBSD 8.2-STABLE #1: Fri May  6 19:11:52 UTC 2011     root@:/usr/obj/usr/src/sys/RGNETS  amd64
ncr-vm# ruby -v
ruby 1.8.7 (2011-06-30 patchlevel 352) [amd64-freebsd8]
ncr-vm#

ncr-vm# gem install libv8 -v 3.3.10.2
Building native extensions.  This coul

[2012-02-09 05:40] steverjohnston opened #28 "ruby racer fails seltest and causes loaderror"
I am running rhel 4.0, rails 3.1.3, ruby 1.9 and can't get 'therubyracer' to work.

therubyracer --selftest

/usr/local/lib/ruby/site_ruby/1.9.1/rubygems/custom_require.rb:36:in `require': /usr/local/lib/ruby/gems/1.9.1
/gems/therubyracer-0.9.9/ext/v8/v8.so: undefined symbol: __stack_chk_fail - /usr/local/lib/ruby/gems/1.9.1
/gems/therubyracer-0.9.9/ext/v8/v8.so (LoadError)

[code]

irb>require 't

[2012-02-10 15:28] yagmurdursun opened #29 "libv8 on Windows"
I work on Windows and I developed an application. It was working but after installed a gem (twitter-bootstrap-rails) I started to get "Python not found." What can I do about it?

   Installing libv8 (3.3.10.4) with native extensions
   Gem::Installer::ExtensionBuildError: ERROR: Failed to build gem native extension.

   c:/Ruby192/bin/ruby.exe extconf.rb
   **\* extconf.rb failed ***
   Could not

[2012-03-05 22:19] skandragon opened #30 "NetBSD support in 3.3.10.4"
I have installed libv8 on NetBSD, and it SEEMS to work -- kinda.  However, I cannot then install "therubyracer":

There seems to be no actual NetBSD support in libv8, although there is a lot of related FreeBSD and OpenBSD support.

I tried using the instructions on how to build from the git repo, but:

-bash-4.1$ bundle exec rake compile
Checking for Python...2.6.6
Compiling V8 (3.9.7)...
Checking

[2012-03-10 06:11] rmoriz opened #31 "Problem parsing python version on Ubuntu 12.04 beta"
[code]

System:

[code]

[2012-03-13 02:15] andykitchen opened #32 "Build fails when system v8 is installed in /usr/local"
g++ -o obj/release/property.o -c -fPIC -Wall -Werror -W -Wno-unused-parameter -Wnon-virtual-dtor -m64 -O3 -fomit-frame-pointer -fdata-sections -ffunction-sections -ansi -fno-rtti -fno-exceptions -fvisibility=hidden -fPIC -Wall -Werror -W -Wno-unused-parameter -Wnon-virtual-dtor -m64 -O3 -fomit-frame-pointer -fdata-sections -ffunction-sections -ansi -DV8_TARGET_ARCH_X64 -DV8_FAST_TLS -DENABLE_DEBUG

[2012-03-13 02:23] andykitchen opened #33 "On some systems -fPIC is a required build option for shared libs"
On FreeBSD to get libv8 to compile I have to cd into lib/libv8 and run

$CCFLAGS=-fPIC gmake

to allow therubyracer to compile properly

[2012-06-20 14:08] stereobooster opened #37 "Binary version of gem for Windows with cross compilation"
SCons & cross compiling
- http://code.google.com/p/v8/issues/detail?id=1211

[2012-06-21 14:31] #33 closed, assigned to nobody

[2012-06-21 14:31] #32 closed, assigned to nobody

[2012-06-21 14:32] #31 closed, assigned to nobody

[2012-06-21 14:34] #28 closed, assigned to nobody

[2012-06-21 14:34] #27 closed, assigned to nobody

[2012-06-21 14:36] #20 closed, assigned to nobody

[2012-06-21 14:37] #25 closed, assigned to nobody

[2012-06-21 14:38] #26 closed, assigned to nobody

[2012-06-21 14:39] #22 closed, assigned to nobody

[2012-06-21 14:41] #14 closed, assigned to nobody

[2012-06-21 14:41] #18 closed, assigned to nobody

[2012-06-21 14:41] #15 closed, assigned to nobody

[2012-06-21 14:42] #12 closed, assigned to nobody

[2012-06-21 14:42] #3 closed, assigned to nobody

[2012-06-21 14:42] #10 closed, assigned to nobody

[2012-06-21 14:42] #30 closed, assigned to nobody

[2012-07-07 16:13] nathansamson opened #42 "wants to build for ia32 on ARM"
I am trying to install the gem on a ARM machine (a raspberry PI)
THe system apparenlty thinks that I am running on ia32 and is then complaining it can build for ia32

[code]

[2012-07-27 01:55] alexfarrill opened #45 "Problem installing with ruby 1.8.7 on OS X 10.8"
Hi, I'm having trouble installing libv8 while installing the therubyracer 0.10.1 gem on OS X 10.8, do you have any ideas what might cause this?  I have tried rvm 1.8.7p370 and rvm REE.

The error is:

clang: error: no such file or directory: '/Users/alexfarrill/.rvm/gems/ruby-1.8.7-p370/gems/libv8-3.3.10.4/lib/libv8/build/v8/libv8.a'
make: **\* [v8.bundle] Error 1

NOTE: It does seem that I'm able

[2012-07-27 03:39] #45 closed, assigned to nobody

[2012-07-30 19:43] nebiros opened #46 "OSX 10.8 (Mountain Lion), libv8.a, no such file or directory"
I got this error when I try to build `therubyracer`, `libv8.a` file is missing from `libv8-3.3.10.4`

[code]

Here's the complete [output](http://pastie.org/4360911).

[2012-07-31 14:32] #46 closed, assigned to nobody

[2012-08-16 12:41] nathanvda opened #47 "Installing on ubuntu 12.04 fails?"
I have the following in my `Gemfile`:

[code]

I get the following error when compiling:

[code]

I can see the last commit should fix a corrupt binary for x64, so when I try the following in my `Gemfile`

[code]

I get the following error:

[code]

Any ideas??

[2012-08-27 20:27] wycats opened #49 "Binary build for darwin-10 but not darwin-11 or darwin-12"
The binary build released for Darwin is incompatible with Mountain Lion, which requires a build. The build, at least for me, fails with Apple's tools, and requires the unofficial GNU tools. Can libv8 ship a binary build that is compatible with Mountain Lion?

[2012-08-29 18:47] #49 closed, assigned to nobody

[2012-08-31 14:31] searls opened #50 "Installing on OS X Mountain Lion is building from source"
Running OS X (10.8.1)  and REE-1.8.7-2012.02.

First, for the version the project we were building was locked to, we got an "Uninitialized constant Gem" error (3.3.10.4) as it tried to compile from source. Now, we're (apparently) successfully building the latest version libv8 from source, which is taking a few minutes.

Our point of confusion is that there's a precompiled version of libv8 for Darw

[2012-08-31 14:40] #50 closed, assigned to nobody

[2012-09-03 15:24] #47 closed, assigned to nobody

[2012-09-11 12:31] threeturn opened #52 "therubyracer/libv8 broken on FreeBSD 9"
Hi,

When I'm trying to install therubyracer on FreeBSD 9 AMD64 i got this error message:

[xxxxx@xxxxx-vm ~]$ sudo gem install therubyracer
Fetching: libv8-3.3.10.4-amd64-freebsd-9.gem (100%)
Building native extensions.  This could take a while...
ERROR:  Error installing therubyracer:
    ERROR: Failed to build gem native extension.

[code]

creating Makefile

make
compiling rr.cpp
rr.cpp: In fu

[2012-09-18 18:31] #52 closed, assigned to nobody

[2012-09-19 05:00] mikesplain opened #53 "Solaris (openindiana) compile issue"
Hello,

I've been trying to build libv8 on an openindiana box and continuously failing.  It seems like it's failing at ld but ld is absolutely in the path...

Any suggestions would be much appreciated!

Thanks!

[code]

[2012-09-19 11:43] #53 closed, assigned to nobody

[2012-10-17 14:29] hron84 opened #54 "uninitialized constant Gem (NameError)"
I tried install libv8 3.3.10.4 on OS X ML (10.8.2) with RVM and I get some weird error:

[code]

It can be worked around if I call bundler/gem command with `RUBYOPT=-rubygems`, and a deeper investigation showed me a `require 'rubygems' unless defined?(Gem)` line is required in extconf.rb.

[2012-11-27 14:37] Gorgoroth opened #55 "Documentation installing from source, wrong checkout command"
Hey there,

it seems the commands for checking out the source are wrong in the README.

[code]

does not work. Maybe it should be

[code]

[2012-11-28 07:45] borgand opened #56 "Support for bundle package"
Using the command `bundle package` results in problems when deploying between different platforms (eg Mac and Linux),  because Bundler packages platform specific gem:

[code]

When deploying this to Linux results in error:

[code]

This is because Bundler restricts all gems to those found in package cache (which is the whole point of the cache, to speed up deploy).

The only two workarounds are:
-

[2012-12-05 07:33] ZipoKing opened #57 "Gem is not compiling under 64-bit Ubuntu 12.04"
Have following error when trying to update rubyracer gem, which requires libv8:
Installing therubyracer (0.11.0) with native extensions
Gem::Installer::ExtensionBuildError: ERROR: Failed to build gem native extension.

[code]

checking for main() in -lpthread... yes
creating Makefile

make
g++  -I. -I/usr/local/lib/ruby/gems/1.8/gems/libv8-3.11.8.3-x86_64-linux/vendor/v8/include -I/opt/local/inclu

[2012-12-06 16:21] jperry opened #59 "Fails to compile on Centos5"
Hi,

I have gem 'libv8' in my Gemfile using ruby 1.9.3 and I'm getting a failure when I run bundle install

[code]

Any thoughts on this?

[2012-12-12 11:46] benlovell opened #60 "Fails to compile on Mountain Lion with command line tools"
gem install libv8 -v '3.11.8.4' fails on Mountain Lion unless full xcode is present.

The complaint is that the makefile cannot locate gcc4.4 which seems an anomaly as even the full xcode does not install gcc4.4.

Installing the latest xcode resolves the issue but thought it worth a mention.

I'm happy to hack something together as a workaround if anyone thinks it's worthwhile.

[2012-12-12 21:33] deemytch opened #61 "does`nt compile on linux"
Updating libv8
Building native extensions.  This could take a while...
ERROR:  Error installing libv8:
    ERROR: Failed to build gem native extension.

[code]

creating Makefile
Using compiler: /usr/bin/g++
  File "build/gyp/gyp", line 12
    except ImportError, e:
                      ^
SyntaxError: invalid syntax
gmake: **\* [out/Makefile.x64] Error 1
GYP_GENERATORS=make \
build/gyp/gyp --gene

[2012-12-12 22:12] #61 closed, assigned to nobody

[2012-12-13 16:14] ArthurCamara opened #62 "installing with native extensions stall"
When trying to install the gem, the system stalls at

"Installing libv8 (3.11.8.4) with native extensions"

Nothing happens further this. Any ideas?

BTW, i'm running OS X Mountain Lion with XCode present. Ruby 1.9.3 and rails 3.2.

[2012-12-18 03:45] #55 closed, assigned to nobody

[2012-12-18 03:49] #60 closed, assigned to nobody

[2012-12-18 03:52] #57 closed, assigned to nobody

[2012-12-18 03:53] #62 closed, assigned to nobody

[2012-12-18 03:54] #59 closed, assigned to nobody

[2012-12-18 03:58] #54 closed, assigned to nobody

[2013-01-02 20:51] blackfoxdeveloper opened #66 "Don't compile on gentoo"
Building native extensions.  This could take a while...
ERROR:  Error installing libv8:
    ERROR: Failed to build gem native extension.

[code]

creating Makefile
Using compiler: /usr/bin/g++
  File "build/gyp/gyp", line 12
    except ImportError, e:
                      ^
SyntaxError: invalid syntax
gmake: **\* [out/Makefile.ia32] Error 1
GYP_GENERATORS=make \
build/gyp/gyp --generator-output="

[2013-01-05 16:53] Talented-Business opened #67 "libv8 issue on red hat"
When installing libv8 in the red hat linux, the following errors follows.
Building native extensions.  This could take a while...
ERROR:  Error installing libv8:
        ERROR: Failed to build gem native extension.

[code]

creating Makefile
Using compiler: /usr/bin/g++44
Traceback (most recent call last):
  File "build/gyp/gyp", line 15, in ?
    import gyp
  File "build/gyp/pylib/gyp/**init**.py

[2013-01-05 23:36] #67 closed, assigned to nobody

[2013-01-06 05:56] ignisf opened #68 "patches/gcc42-on-freebsd.patch does not get applied"
Hello,

I noticed that the patch (kindly provided by @andreacgranata) does not get applied before `rake build` is run on a system that is not FreeBSD (for example a build host) which causes `gem install libv8` to fail when attempting it on a FreeBSD/gcc42 host.

I believe that the issue is caused by the condition on [this line](https://github.com/cowboyd/libv8/blob/master/Rakefile#L31) in the `Rak

[2013-01-06 09:21] Sega100500 opened #70 "Install fail 3.11.8.9"
On Debian 6, Ruby 1.9.3-p327:

ruby@debian:~/projects/devapp$ gem install libv8
Installing libv8 (3.11.8.9) with native extensions
Gem::Installer::ExtensionBuildError: ERROR: Failed to build gem native extension.

[code]

creating Makefile
Using compiler: /usr/bin/g++
../test/cctest/gay-shortest.cc:82373:4: error: invalid suffix "s" on floating constant
make[1]: **\* [/home/ruby/.rvm/gems/ruby-1.9

[2013-01-07 02:40] #66 closed, assigned to nobody

[2013-01-07 13:49] csokol opened #72 "Segmentation fault installing 3.11.8.11"
I'm getting a seg fault when installing the gem.

Here is the output I'm getting after running `gem install libv8 -v '3.11.8.11'`: https://gist.github.com/4452952

The output of my `uname -a`:

[code]

It's a slackware64-13.0 box.

[2013-01-07 14:48] #68 closed, assigned to nobody

[2013-01-07 16:54] #72 closed, assigned to nobody

[2013-01-08 06:52] #70 closed, assigned to nobody

[2013-01-23 19:24] #56 closed, assigned to nobody

[2013-01-25 06:57] deepak opened #76 "capistrano deploy fails because a platform specific gem file is created"
capistrano deploy fails with:
Could not find libv8-3.11.8.13 in any of the sources

my Gemfile is
`
gem 'libv8', "~> 3.11"
`

my Gemfile.lock is
`
libv8 (~> 3.11)
`

`bundle pack` installed
libv8-3.11.8.13-x86_64-darwin-10.gem

but when i uninstalled libv8, bundle pack did not remove `libv8-3.11.8.13-x86_64-darwin-10.gem` in `vendor/cache`

Maybe capistrano deploy fails because a platform specific

[2013-01-25 07:20] #76 closed, assigned to nobody

[2013-01-25 08:37] deepak opened #77 "Vendorize gems in bundler for multiple platforms"
I am developing on Mac OSX but deploying on ubuntu.

libv8 gems has versions on multiple platforms
eg.
https://rubygems.org/gems/libv8/versions/3.11.8.13-x86_64-darwin-10 and https://rubygems.org/gems/libv8/versions/3.11.8.13-x86_64-linux
all versions can be seen at https://rubygems.org/gems/libv8/versions

So on my Mac, when i run bundle pack. i think we want:
libv8-3.11.8.13-x86_64-darwin-10.gem

[2013-01-25 09:29] rtcoms opened #78 "libv8-3.11.8.13-x86_64-linux.gem doesn't work on ubuntu"
When I run 'bundle packit gives me following error :

Could not read gem at /home/rtcoms/Desktop/code/milaap-webapp/vendor/cache/libv8-3.11.8.13-x86_64-linux.gem. It may be corrupted.

[2013-01-25 17:35] #77 closed, assigned to nobody

[2013-01-25 19:29] #78 closed, assigned to nobody

[2013-02-11 23:48] starrychloe opened #81 "Gem does not install on Cygwin"
[code]

Here is the transcript:

[code]

[2013-02-12 00:39] #81 closed, assigned to nobody

[2013-02-21 14:28] Zapotek opened #83 "Cross compiling under chroot"
Hi,

Is there a way to change the compilation arch when the gem is installed?
I'm trying to run this under a 32bit chroot environment but get this:

[code]

Instead, this directory is created `/home/zapotek/builds/nightlies/arachni-201302182259/system/gems/gems/libv8-3.11.8.13-x86_64-linux/vendor/v8/out/x64.release/`.

I'm guessing something uses `uname` (which doesn't lie, even under chroot) but

[2013-02-28 01:59] ignisf opened #86 "Gem::Builder has been deprecated in Ruby 2"
In Ruby 2 Gem::Builder has been replaced with Gem::Package which leads to an error on `rake binary`.

[2013-03-02 02:26] #83 closed, assigned to nobody

[2013-03-04 16:27] #86 closed, assigned to nobody

[2013-03-04 17:32] #42 closed, assigned to nobody

[2013-03-06 00:16] ignisf opened #87 "Fix linking against v8 under 64-bit Illumos (and Solaris-based OSes)"
v8 needs to be compiled with a `-fPIC` cflag on Solaris, too.

Related issue: https://github.com/cowboyd/therubyracer/issues/245

[2013-03-06 00:18] #87 closed, assigned to ignisf

[2013-03-28 14:55] cowboyd opened #88 "Meh, still requires -fPIC patch on x64 architectures when building static library"
I misread the standalone.gypi in the latest version of V8 and thought that the issue had been addressed. It still only adds the -fPIC flag for the shared library build.

Unfortunately, our old patch was not compatible with the new version of the v8 build.

[2013-03-28 18:15] ignisf opened #89 "Modify the compilation process to allow usage directly from the git repo"
There two things I can think of that prevent this. First -- `make dependencies` is only called by the `checkout` rake task and it needs to be called when invoking `extconf.rb`. Second -- the patch application also needs to be carried out by `extconf.rb`.

Pros:
- Users will be able to use the latest git version with `gem "libv8", git: "git://github.com/cowboyd/libv8.git", submodules: true`

Cons:

[2013-03-29 18:32] perestoronin opened #90 "libv8 fails to compile with GCC-4.8"
http://www.mail-archive.com/pkg-javascript-devel@lists.alioth.debian.org/msg02332.html

fixed with patch http://portage.perestoroniny.ru/dev-ruby/libv8/files/libv8-cf-gcc-4.8.0.patch

https://codereview.chromium.org/10449006/
http://code.google.com/p/v8/issues/detail?id=2149&can=1&q=gcc&colspec=ID%20Type%20Status%20Priority%20Owner%20Summary%20HW%20OS%20Area%20Stars&start=100

[2013-05-02 17:05] davekaro opened #93 "Missing binaries"
When I do `gem install libv8` I expect it to use a binary, according to the README. My platform is x86_64-linux. Instead, it compiles from source.

On http://rubygems.org/gems/libv8, it looks like the only binary released for v3.16.14.1 is x86_64-darwin-10. What about the others? Am I misunderstanding something?

[2013-05-08 04:51] ignisf opened #94 "Fix build with clang"
vanilla@ has found a way to fix the build process with clang and I suspect we can borrow the changes :)

Reference:
http://svnweb.freebsd.org/ports/head/lang/v8/?view=log

[2013-05-08 15:37] #93 closed, assigned to nobody

[2013-05-15 13:29] #88 closed, assigned to nobody

[2013-05-15 13:29] #90 closed, assigned to nobody

[2013-05-26 01:20] ignisf opened #98 "ARM architecture detection is unreliable"
We need to be able to reliably determine when the source version of the gem is being installed on an arm system and _if the arm system uses a hard-float ABI_.

Currently we don't have the necessary hardware to test, so we would be grateful if anybody (@cpg, @glennmartinez, @lunij, @Lyann, @clark800) could provide the output of the Ruby source below for the specified distros.

[code]
- [ ] Raspbian

[2013-06-15 08:10] FransM opened #99 "more arm issues"
I've been trying to create a bundle for the pi with v8 in it, but I am still running into problems. This might be because I am a gem/ruby/bundler n00b though.

My Gemfile (to get the latest patches):

source 'https://rubygems.org'
gem 'rails', '3.2.13'
gem 'libv8', :git => 'git://github.com/cowboyd/libv8.git', :ref => '6054e0fac7'
gem 'therubyracer', :git => 'git://github.com/cowboyd/therubyracer.

[2013-07-14 14:21] y8 opened #103 "3.11.8.7 can't be build on OSX 10.9 with GCC."
`gem install libv8 -v '3.11.8.17'`

Fails with:

[code]

GCC (Xcode 5):

[code]

OSX: `13.0.0 Darwin Kernel Version 13.0.0: Tue Jul  2 15:57:48 PDT 2013; root:xnu-2422.1.35~2/RELEASE_X86_64 x86_64`

I suspect it's related to #95

[2013-07-14 17:00] #103 closed, assigned to nobody

[2013-08-05 20:04] #89 closed, assigned to nobody

[2013-08-25 17:53] ignisf opened #105 "The -Wno-unused-local-typedefs option breaks the build on FreeBSD"
cc1plus (GCC 4.2) reports "error: unrecognized command line option" :cry:

[2013-09-01 06:06] mattconnolly opened #106 "Binary for SmartOS."
I have libv8 and thereby racer being built on SmartOS using Jenkins CI to pull in changes from GitHub.. Looking good at the moment.

Having a binary would greatly speed up my new machine deploys. Is there a process for including new binaries?

[2013-10-02 16:39] nickpellant opened #107 "Release for OS X 10.9 Mavericks 3.11 Branch"
Although the fixes for Mavericks have been merged into the 3.11 branch, there hasn't been a release with these fixes yet.

Would it be possible to release the latest code on the 3.11 branch to RubyGems so it's compatible with 10.9?

[2013-10-24 21:27] tanookiben opened #108 "Unable to install on Mavericks for Ruby 1.9.3-p125"
I'm trying to install libv8 3.16.14.3 but getting an error. The full error log will be at the bottom of this issue.

I'm on OSX Mavericks and attempting to install the gem under rvm ruby-1.9.3-p125.

[code]

[2013-12-03 09:23] paulepanter opened #109 "`gem install libv8` installs 64-bit version instead of 32-bit one"
For some reason, `gem install libv8` installs the 64-bit version instead of the 32-bit one.

[code]

Furtheron this causes the Gem The Ruby Racer to install as it looks into the wrong path.

[2013-12-05 00:59] #109 closed, assigned to nobody

[2013-12-05 01:00] #106 closed, assigned to ignisf

[2013-12-05 01:14] ignisf opened #111 "Adding Microsoft Windows support"
Currently MRI is compiled for Windows with MinGW32 while v8 is validated against Visual Studio. All scripts provided by the upstream version are for the VS compiler and there is no ABI compatibility between MinGW32 and VS.

Compilation with the MinGW compiler is possible, however we need somebody with the necessary knowledge to implement the build scripts/GYP configuration.

Until such a person ha

[2013-12-05 01:15] #29 closed, assigned to nobody

[2013-12-05 01:15] #37 closed, assigned to nobody

[2013-12-05 01:17] #99 closed, assigned to nobody

[2013-12-05 03:35] #94 closed, assigned to nobody

[2013-12-05 03:35] #105 closed, assigned to nobody

[2013-12-05 07:15] #108 closed, assigned to nobody

[2013-12-05 10:31] #107 closed, assigned to nobody

[2013-12-10 17:02] amias-channer opened #113 "doesn't build on ubuntu 13.10 , fix included"
There is an upstream issue from v8 that causes problems when v8 is built on
ubuntu 13.10 64bit (gcc 4.8.1)
http://code.google.com/p/v8/issues/detail?id=2149

changing the ext/libv8/extconf.rb to add -Wno-unused-local-typedefs to the CXX env var in the following line fixes its for me.

  puts `env CXX='#{compiler} -Wno-unused-local-typedefs' LINK=#{compiler} #{make} #{libv8_arch}.#{profile} GYPFLAG

[2013-12-10 17:13] #113 closed, assigned to nobody

[2013-12-15 22:14] ZuBB opened #116 "All of 3.16.14.* fail to build/install"
Hi there!

I am faced with issue from subject when was updating Gemfile for my RoR project.

I have 3 quite same (12.04) ubuntu installations (desktop, server in vbox and server on "production" pc). Оn production libv8 fails to build, on others all is ok. It might be not a gem issue but my google-foo does not help. I hope you give me a **hint** what to do

Below are logs of build for all 3.16.14.x

[2013-12-16 12:15] #116 closed, assigned to nobody

[2013-12-18 12:00] #111 closed, assigned to nobody

[2014-01-21 14:34] marcalc opened #118 "Segmentation Fault when initializing V8::Context"
I detected the following bug using 'libv8' bundled with the latest 'therubyracer' head.
I could circunvent the problem, removing the initializer and assigning later on.

Confirmed on [Ruby 2.1.0p0] and [Ruby 1.9.3-p194]

[code]

[code]

Please let me know if I can be of any more help

Thanks,
Marcos Alcantara (marcalc)

[2014-02-20 17:55] anupamkumar opened #119 "cannot gem install libv8 on fedora 20"
I need to install therubyracer and it needs libv8. When I try to gem install libv8 I get an error while the compiler tries to build the gem.

I am able to install libv8 --with-system-v8 option but therubyracer does not agree with this and throws errors. Looking at the issues at therubyracer git, I saw that there is version conflict because the rubyracer needs libv8 3.16.14.3 but --with-system-v8 o

[2014-03-21 12:15] skipchris opened #120 "Repeatedly failing to install on Mavericks…"
Hey,

First up, a couple of caveats/apologies:

1) Sorry if this isn’t the best way/right place to get help - but the README doesn’t make anywhere else clear, so I thought I’d give this a shot as I’ve been stuck for days.
2) Sorry if this isn’t a libv8 problem, but again, I’ve no idea where else to turn. If you can even point me in the right direction, I’d be grateful.
3) I’m not looking for someo

[2014-03-21 14:09] #120 closed, assigned to nobody

[2014-04-04 16:23] rhertzog opened #121 "libv8 fails to build on armel systems"
libv8 fails to build on a Kali Linux armel system. Such a system is very close to a Debian 7 armel system. An example of build failure can be seen in http://repo.kali.org/build-logs/beef-xss_0.4.4.9+0~git1395812733.dde007-1-kali-bleeding-edge-armel-20140326-004720.862.log. Here's the relevant part of the log:

[code]

I'm available to provide further information or to try out patches. Thanks in ad

[2014-05-28 13:59] rhertzog opened #122 "Make it buildable against a packaged version of libv8"
Debian packages libv8 as a proper dynamic library. This means that we also have a libv8-dev with header files in /usr/include/.

It would be really awesome if the build system of ruby-libv8 allowed to link against this dynamic library.

[2014-05-28 15:23] #122 closed, assigned to nobody

[2014-06-05 07:53] alex-zige opened #123 "gem install libv8 failed for osx10.10"
Hey guys, I'm getting those error when run bundle install in ruby 1.9.3

[code]

`
$g++ -v
`

[code]

just wonder is that because the platform: x86_64-apple-darwin14.0.0 is not current supported?

[2014-06-10 21:55] #123 closed, assigned to nobody

[2014-06-14 09:31] #119 closed, assigned to nobody

[2014-06-17 10:57] #118 closed, assigned to nobody

[2014-06-17 12:07] ignisf opened #126 "Explore possibility of MinGW Support"
It seems that v8 has some not-officially-supported-but-documented upstream support for mingw32 now.

https://code.google.com/p/v8/wiki/BuildingWithGYP#MinGW

This needs to be checked in order to provide Windows support

[2014-06-17 12:35] ignisf opened #127 "Migrate to RSpec 3"

[2014-06-17 12:45] ignisf opened #128 "Calls to the deprecated File#exists? are scattered around the code"

[2014-06-17 12:51] ignisf opened #129 "Add a number of jobs parameter for rake compile"

[2014-06-17 12:55] #129 closed, assigned to ignisf

[2014-06-17 13:10] ignisf opened #130 "Make the gem compatible with REE and Ruby 1.8.7"
Because some people still use ancient versions

[2014-06-17 13:10] #130 closed, assigned to ignisf

[2014-06-27 12:40] edolyne opened #131 "Yosemite 10.10 and Xcode 6 - Incompatibility"
I have the Yosemite 10.10 and Xcode 6 beta's installed and I am running into an issue trying to install libv8.  The error message I am getting is:

➜  ~  gem install libv8
Building native extensions.  This could take a while...
ERROR:  Error installing libv8:
    ERROR: Failed to build gem native extension.

[code]

creating Makefile
Compiling v8 for x64
Using python 2.7.6
Configured with: --prefi

[2014-06-28 07:03] #131 closed, assigned to nobody

[2014-07-21 13:39] Stillgar71 opened #133 "Can libV8 gem be install on windows ?"
Hi all,

Was wondering if you could direct me a bit.  I need to have libv8 gem  installed and therubyracer gem installed on Windows(need to support a dev environment on windows).  Could you give me some direction on how to do this or if this is  even doable?

[2014-07-21 14:17] #133 closed, assigned to nobody

[2014-08-14 05:37] huyz opened #134 "make fails with Error 137 v3.16.14.3 on Debian 7.6"
Can anyone tell me why this fails?

[code]

[2014-08-19 01:04] seekshiva opened #135 "Problem installing libv8 on mac"
I get the following error while trying to install libv8 in OS X 10.10 Yosemite. Can someone help me with it?

[code]

[2014-08-19 07:53] #135 closed, assigned to nobody

[2014-08-28 15:34] salex opened #136 "Using a unofficial port of V8 for PPC as source"
I have a PPC version of Debian running on a G4 MacMini (hate to see good hardware go to waste). I put RoR on it and all works fine except any 'execjs' dependencies which used therubyracer. I understand why since there is not an official version of V8 for PPC.

I found an unofficial port of V8 for a G4 PPC at https://github.com/andrewlow/v8ppc/tree/g4compat (and also a nodejs port)

After cloning t

[2014-09-02 07:11] edouardb opened #137 "Binary version of gem for armv7 HF and Pi"
I have libv8 and therubyracer working on armv7 vfpv3 and on the Pi

Having binaries would be appreciated. Is there a process for including new binaries?

Thanks

[2014-09-08 21:43] ericbrooke opened #138 "Could not find libv8-3.16.14.5 in any of the sources"
I cannot find any source for the above :-(

How I found it:

[code]

Try to solve the problem another way:

[code]

Another way to look:

[code]

[2014-09-08 21:53] #138 closed, assigned to nobody

[2014-09-11 23:42] Magess opened #139 "I tried to do a bundle update and got an error"
Gem::Installer::ExtensionBuildError: ERROR: Failed to build gem native extension
.

[code]

Gem files will remain installed in /var/lib/gems/1.9.1/gems/libv8-3.16.14.5 for
inspection.
Results logged to /var/lib/gems/1.9.1/gems/libv8-3.16.14.5/ext/libv8/gem_make.ou
t
An error occurred while installing libv8 (3.16.14.5), and Bundler cannot
continue.
Make sure that `gem install libv8 -v '3.16.14.5'`

[2014-09-18 11:26] #139 closed, assigned to nobody

[2014-09-23 16:31] ciembor opened #140 "Can't compile with gcc-4.9 on OSX"
[code]

My gcc:

[code]

[2014-09-23 22:55] ignisf opened #141 "Backport architecture detection from the trunk branch"

[2014-09-24 09:07] #136 closed, assigned to nobody

[2014-09-29 12:30] frankie-loves-jesus opened #142 "Can't compile on OpenBSD"
Can't compile on OpenBSD. Says it can't find a supported compiler despite repeated attempts to point it to `gcc` or `g++` 4.8.2 or 4.6.4:

[code]

OpenBSD's default compiler is 4.2.1 and produces the following:
[code]

[2014-10-04 01:59] meizhoubao opened #143 "after gem install libv8 --with-system-v8 ,cannot locate libv8 while gem install therubyracer"
i found your suggestion like this "you must install both V8 and its headers (found in libv8-dev for Debian distros)."
I do this on windows x64 ,please show me how to do "you must install both V8 and its headers (found in libv8-dev for Debian distros)." exactly,
help me please! i would appreciate it very much! thank you .

[2014-10-06 08:52] #143 closed, assigned to nobody

[2014-10-09 02:53] kenn opened #144 "darwin binary is missing in 3.16.14.7"
Is it intentional? Is there a change in policy?

[2014-10-09 15:14] #144 closed, assigned to nobody

[2014-10-20 15:42] #140 closed, assigned to nobody

[2014-10-27 00:08] courtland opened #148 "3.16.14.7 amd64-freebsd-9"
I'm trying to build a libv8 3.16.14.7 binary gem for amd64-freebsd-9 (i.e., libv8-3.16.14.7-amd64-freebsd-9). I am able to install the gem with native extensions on my FreeBSD 9 dev box, but I end up with a vendor/cache/libv8-3.16.14.7.gem in my rails app, which just contains the libv8 source. Previous libv8 versions would result in a gem file such as "libv8-3.16.14.3-amd64-freebsd-9.gem" that I c

[2014-10-27 17:10] #148 closed, assigned to nobody

[2014-11-05 19:15] ewoodh2o opened #150 "Performance regression in 3.16.14 series?"
We upgraded libv8 to the 3.16.14 series last week and started seeing significantly slower asset compilation times (through Uglifier) compared to v3.11.8.17.  I came at this through Rails' Asset Pipeline, so I'm way in the weeds here and don't know if it's libv8 or V8 itself, but thought I'd ask here to see if anyone had similar experiences.

This doesn't seem to affect times on my dev machine (OS

[2014-11-16 13:24] ignisf opened #152 "Compiler detection works only with English locale"
See https://github.com/cowboyd/libv8/pull/149

[2014-11-16 15:21] ignisf opened #153 "Update the git URL for GYP"
See #146

[2014-11-16 15:35] #128 closed, assigned to ignisf

[2014-11-16 15:35] #152 closed, assigned to ignisf

[2014-11-16 15:35] #153 closed, assigned to ignisf

[2014-11-16 16:04] #127 closed, assigned to ignisf

[2014-11-17 19:32] #121 closed, assigned to ignisf

[2014-11-17 21:38] #98 closed, assigned to ignisf

[2014-11-18 13:11] ignisf opened #154 "Compiler versions are compared as strings"
The current comparison of the compiler versions as strings is a bad idea as the order of SemVer versions is not the same as the lexicographical order. Example: `'4.6' < '4.10' # => false`

[2014-11-19 12:31] #134 closed, assigned to nobody

[2014-11-19 22:33] ignisf opened #156 "SEGFAULT in v8::internal::FixedArrayBase::length when calling V8::C::Object::New()"
This issue arises on ARMv7.

Test:

[code]

Backtrace:
[code]

[2014-11-20 13:36] ignisf opened #157 "Bundle install SEGFAULTs for libv8 on rbx"
Possibly due to large number of files in vendor/libv8

[2014-11-20 17:09] ignisf opened #158 "Change the submodule URL for v8 as the current one is deprecated"
From https://github.com/v8/v8:

[2014-11-20 21:24] #137 closed, assigned to nobody

[2014-12-02 17:10] edouardb opened #159 "ARMv7 - libv8 is pulled from the source version of the gem instead of the binary version"
When you try to install a gem that depends on libv8, rubygems pulls the source version of the gemfile instead of the binary.

I was installing discourse when I identified this issue, following the Gemfile.lock

https://github.com/discourse/discourse/blob/master/Gemfile.lock

Reproduce

Ko: `gem install therubyracer`
Ok: `gem install therubyracer --platform arm-linux`

Thanks

[2014-12-05 17:38] AdamKyle opened #160 "Using Rails, Bundle Install Fails. Even Gem Install is misleading"
in a rail 4.1.8 project with ruby 2.1.5, I have tried doing a `bundle install` only to come across:

[code]

When attempting to do: `gem install libv8 -v '3.16.14.3'` it gives me a similar error, so after much research I was told you have to do:

`gem install libv8 -v '3.16.14.3' -- --with-system-v8`

Which I did, which then gave me:

[code]

So after words I did a `gem list` to make sure it was t

[2014-12-05 21:52] #160 closed, assigned to nobody

[2014-12-23 15:34] #159 closed, assigned to nobody

[2015-01-05 19:28] dankozlowski commented on #131
I'm encountering this issue with OSX 10.10 and latest Ruby 2.1.2.  Do we have a solution?

[2015-01-05 19:30] ignisf commented on #131
@dankozlowski yes -- this issue was fixed by https://github.com/cowboyd/libv8/pull/124

[2015-01-07 11:55] marceloboeira commented on #135
gem install libv8 -v '3.16.14.3' -- --with-system-v8

[2015-01-26 03:04] jphatton commented on #142
:+1: @mbrichman

[2015-02-04 02:57] beekermememe commented on #150
+1 on this, We are going from 5 minute deploys up to 18 minutes when deploying to C1 large instances
Rails 3.2.21. We are running a SPA so a good few JS files.

[2015-02-21 09:11] cristi1979 opened #163 "error compiling on el7"
Anybody knows why I get this error when trying to compile the module?

    Compiling /home/gitlab_ce/rpmbuild/BUILDROOT/rubygem-libv8-3.16.14.7-1.el7.x86_64/usr/share/gems/gems/libv8-3.16.14.7/vendor/v8/src/macros.py ...
      File "/usr/share/gems/gems/libv8-3.16.14.7/vendor/v8/src/macros.py", line 31
        const NONE        = 0;
                 ^
    SyntaxError: invalid syntax

    error: Ba

[2015-03-15 18:45] stormbreakerbg commented on #156
Also verified on Debian 7 x86 and x86_64. This seems to be happening when an object is created without a `HandleScope` and `Context`.

This segfault is also happening in therubyracer's spec due to a monkey patch that doesn't work anymore (https://github.com/cowboyd/therubyracer/pull/333).

[2015-03-18 16:18] cowboyd opened #164 "Fails to build when gem path has spaces in it"
see https://github.com/cowboyd/therubyracer/issues/292

[2015-03-20 22:52] ignisf commented on #156
awesome!

[2015-03-20 22:52] #156 closed

[2015-03-20 22:52] ignisf commented on #126
cc @stormbreakerbg

[2015-03-23 13:15] ignisf commented on #126
Some more info here: https://github.com/msys2/MINGW-packages/blob/master/mingw-w64-v8/PKGBUILD

[2015-03-31 22:46] ignisf commented on #163
Hello @cristi1979, did you manage to create your rpm? Looks like an error Python 3 would churn out when used to compile libv8

[2015-04-04 07:02] jarredholman commented on #126
I pretty much have this working now https://github.com/jarredholman/libv8/tree/mingw

I'm not sure what the process for pull request/reviews is here... there is both master and trunk, and I had to include some other changes because master was broken thanks to the "rc1" in the version.

[2015-04-04 10:02] ignisf commented on #126
That looks great!
Can you open up a PR for each branch?

[2015-04-04 12:34] jarredholman commented on #126
So what is trunk for? A somewhat never version of v8 (but still quite outdated?)?

[2015-04-04 13:05] ignisf commented on #126
Whenever therubyracer gets ported to compile against the trunk version of libv8, I'll replace the current master branch with this trunk and will try to keep it up to date.

Unfortunately an effort to update therubyracer has started only recently and I haven't been keeping the trunk branch up to date.

[2015-04-04 13:43] jarredholman commented on #126
trunk is going to be more difficult since icu is a dependency there. This might take a bit longer.

[2015-04-04 15:14] ignisf commented on #126
I thought I explicitly disabled ICU with this line https://github.com/cowboyd/libv8/blob/trunk/ext/libv8/builder.rb#L34

[2015-04-08 20:09] ignisf commented on #126
Resolved by #166

[2015-04-08 20:09] #126 closed

[2015-04-09 14:39] jarredholman commented on #126
I'm still working on this for trunk as well. Somehow it is much more difficult.

[2015-04-09 15:04] ignisf commented on #126
@jarredholman, trunk-rebase contains the trunk branch rebased on the changes in master. What seems to be the hold up? ICU?

[2015-04-09 20:17] #164 closed

[2015-04-09 20:35] ignisf commented on #163
Feel free to reopen this if you are still experiencing the issue

[2015-04-09 20:35] #163 closed

[2015-04-09 20:36] ignisf commented on #142
Closing for now, feel free to reopen if you are still experiencing the issue

[2015-04-09 20:36] #142 closed

[2015-04-09 23:47] jarredholman commented on #126
Got past the ICU issue, but then ran into problems during the compile. Slowly getting there as I fix each issue.

So far I have had to add -std=c++11 to the compile flags (not sure how the Linux version builds without it) and fixed the order of includes in one of the source file.

Its currently stuck trying to build the "host" version of the tool because it apparently ignores the target cxxflags y

[2015-04-10 00:14] ignisf commented on #126
If you think that this issue has been fixed in newer versions of v8, we should update and not waste time on it

[2015-04-14 17:11] alexey commented on #120
I had similar problem leading to therubyracer installation fail.

I solved it with:
[code]

From here:

[2015-04-21 22:44] shyam-habarakada opened #169 "bundle install fails with Yosemite, rvm and ruby 2.1.x"
I was able to go back to `3.16.14.3` and workaround the issue, but bundle install is failing with the following error. Let me know if you need additional information. We have been able to reproduce the issue on several computers and first noticed it while setting up a brand new MacBook we purchased recently.

As per the paths below, we user `.ruby-version` files to specify which rvm and gemsets to

[2015-04-22 14:00] shyam-habarakada commented on #169
Additional information—it did not fail with ruby 1.9.x (I was testing with 1.9.3.-p125)

[2015-04-22 15:05] ignisf commented on #169
Can you paste the output of `ruby -e 'puts Gem::Platform.local.inspect'` on both 1.9 and 2.1?

[2015-04-22 18:32] shyam-habarakada commented on #169
Here you go

[code]

[2015-04-22 20:03] ignisf commented on #169
Ok, so we've seen this issue before. Ruby 2.1.1 on your system has been compiled two OS X versions before Yosemite. If you recompile it now, rubygems will correctly identify the darwin14 binary of libv8 and will pull it instead of compiling libv8.

Apart from that, I wonder why is `-Werror` switched on when two versions back I explicitly switched it off in order to prevent such failures with untes

[2015-04-23 07:02] shyam-habarakada commented on #169
@ignisf not 100% sure what you mean. Just in case, I tried with ruby 2.1.2 (and before and after re-installign that ruby via rvm) and it still fails with the same error. Here is the platform inspect with ruby 2.1.2

    $ ruby -e 'puts Gem::Platform.local.inspect'
    #<Gem::Platform:0x3ff81943a098 @cpu="x86_64", @os="darwin", @version="13">

[2015-04-23 11:22] ignisf commented on #169
Rubygems finds binary versions of the gem based on the local platform, which in your case is:

`x86_64-darwin-12` for Ruby 2.1.1

`x86_64-darwin-13` for Ruby 2.1.2

`x86_64-darwin-14` for Ruby 1.9.3

Or it falls back to the source version (which fails to compile in your environment). Currently we have the following versions of libv8 pushed to rubygems:

![image](https://cloud.githubusercontent.com

[2015-04-23 14:01] cowboyd commented on #169
And if you re-compiled it, why is it reporting darwin-13 instead of darwin-14? Very odd indeed. Is rvm installing a binary or compiling from source?

[2015-04-24 10:24] shartep commented on #169
try
gem install libv8 -- --with-system-v8

[2015-04-27 16:48] JEG2 commented on #169
If you are on the darwin-14 platform, just fetch and install the binary gem:

[code]

[2015-04-28 18:26] anolson commented on #169
I am having the same exact issue that @shyam-habarakada described.  I found that if I downgraded the OS X Command Line Tools from 6.3.1 to 6.2, I was able to successfully compile libv8.

[2015-05-05 14:49] osca commented on #169
What i did was to use another ruby version (using rvm):
[code]
Installed excejs, libv8 and therubyracer without any problems and I still have the latest xcode (command line tools) installed.
Hope this helps.

[2015-05-06 07:55] sagarjunnarkar commented on #169
@shyam-habarakada thanks man. My OSX version is 10.10.1 (14B25). I tried this
```$ ruby -e 'puts Gem::Platform.local.inspect'``` and version is 13
```rvm get stable``` then ```rvm remove ruby  ruby-1.9.3-p484``` then ```rvm install ruby-1.9.3-p484```
Now ```$ ruby -e 'puts Gem::Platform.local.inspect'``` and version is 14
And ```bundle install``` Hurreey!!!

[2015-06-04 05:18] RamNavuluri commented on #123
Guys I am facing this issue in windows 7

I tried gem install libv8 -- --with-system-v8
It succeeded. But therubyracer gem couldn't installed.

I am using ruby 2.0.0

Please help me on this guys

[2015-06-04 08:32] #169 closed

[2015-06-05 18:50] vanetten commented on #169
Wow.. this was a pain.

My ruby had the wrong version too.

ruby -e 'puts Gem::Platform.local.inspect'
#<Gem::Platform:0x80c8cbe0 @cpu="x86_64", @os="darwin", @version="12">

Had to remove the ruby and re-install from source to get it right.
rvm install 2.1.1 --disable-binary

ruby -e 'puts Gem::Platform.local.inspect'
#<Gem::Platform:0x3ff39a055cd0 @cpu="x86_64", @os="darwin", @version="14">

[2015-06-08 09:26] grepwood opened #170 "libv8 3.16.14.7 fails to build pn ppc64le"
[code]

[2015-06-08 11:33] ignisf commented on #170
Unfortunately v8 3.16 has no ppc support as can be seen here: https://github.com/v8/v8/blob/7ce3fe106a37826dc23189a78dcb9000a1b3fa06/src/globals.h#L65

It's infeasible to go after support for this arch without migrating to a fresher version of v8, which has been underway for a while now but progress is extremely slow.

[2015-06-08 11:33] #170 closed

[2015-06-08 11:38] ignisf commented on #170
You can however take the https://github.com/cowboyd/libv8/tree/trunk branch for a spin and see what you can do to get it to compile.

[2015-06-09 21:26] dt1973 commented on #142
Hi! I'm on OpenBSD 5.7, having the same problem. Used the https://github.com/rdp/specific_install gem to install from the GH repo but to no avail.

[2015-06-09 21:55] dt1973 commented on #142
Fixed it by installing the OpenBSD port of libv8:

http://openports.se/lang/libv8

and then:
[code]

[2015-06-12 18:00] noahgibbs commented on #169
I'm using a fresh RVM-installed binary of Ruby 2.2.1 and I show version 14 when I use the above, but I'm still getting this error.

I'm using Mac OS 10.10.3 as well.

[2015-06-12 18:12] noahgibbs commented on #169
This still happens for me with a fresh Ruby 2.2.1 compiled locally (not from source) via RVM.

[2015-06-12 18:16] noahgibbs commented on #169
But it succeeded on that ruby when installing --with-system-v8, which didn't work before. Okay, I can use it now. Thanks!

[2015-06-16 11:18] shartep-elephant commented on #169
this help me:
- reinstall openssl http://mac-dev-env.patrickbougie.com/openssl/
- download ruby-2.1.1 from ftp://ftp.ruby-lang.org/pub/ruby/2.1/ruby-2.1.1.tar.gz
- unpack it
- in console go to dir ruby-2.1.1
- ./configure --prefix=/Users/devy/.rvm/rubies/ruby-2.1.1 --with-openssl-dir=/usr/local/openssl
#where devy is my username
- sudo make
- sudo make install
- go to project directory and check r

[2015-06-23 11:50] jezcaudle opened #171 "gem install libv8 -v '3.16.14.7' fails on OS X 10.10.3"
Hi,

I'm trying to:

gem install libv8 -v '3.16.14.7'

so I can get the RubyRacer working on OS X 10.10.3

Compiling v8 for x64
Using python 2.7.6
Using compiler: /usr/bin/c++ (clang version 6.1.0)
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/libtool: file: /Users/jezcaudle/.rvm/gems/ruby-2.1.1@rails4.2.1/gems/libv8-3.16.14.7/vendor/v8/out/x64.release/obj.

[2015-06-25 12:37] cheba opened #172 "libv8 fails to install on OS X 10.11"
Output:
[code]

I did a bit of digging in code and it seems like [`werror` should be off](https://github.com/cowboyd/libv8/blob/46132e848d52b4e04a320421d3d2eb451cdd14aa/ext/libv8/builder.rb#L46). But it looks like build system doesn't pick it up.

Workaround:

[code]

[2015-06-26 23:05] tagliala commented on #172
same here, but the workaround doesn't work

[code]

[2015-06-26 23:52] cowboyd commented on #172
There seems to be a funamental incompatibility with Clang 6.1 and this version of v8. I used gcc-4.2 (which can be found in `/usr/local/bin/g++-4.2`)

Also, I just released a new binary for darwin 14 https://rubygems.org/gems/libv8/versions/3.16.14.9-x86_64-darwin-14 which should let you install without compilation.

[2015-06-26 23:52] #172 closed

[2015-06-26 23:53] cowboyd commented on #171
You should be able to recompile ruby 2.1.1 which looks like it was compiled on Mountain Lion(darwin-12). I don't believe there is a binary gem for this version.

[2015-06-26 23:53] #171 closed

[2015-06-27 09:51] tagliala commented on #172
thanks!

[2015-06-28 16:18] maxmeyer opened #174 "libv8 3.16.14.9 breaks build on travis"
Hi,

using `libv8 3.16.14.9` on travis breaks a [build](https://travis-ci.org/middleman/middleman/jobs/68700063). Using `libv8 3.16.14.7` does not break the build. I'm not sure if it's the fault of `libv8`, but at least it seems to be a fix to use an older version of the library. The `Gemfile` can be found [here](https://github.com/maxmeyer/middleman/blob/feature/listener/Gemfile). The `Gemfile.lo

[2015-06-29 13:10] tagliala commented on #172
Still having issues,

osx 10.10.3, ruby 2.0.0p451

Maybe the ruby version?

[code]

[2015-06-29 20:50] atz commented on #174
:+1:
It's not just Travis.  On my local (OSX Yosemite) system I get errors even trying to compile `libv8 3.16.14.9`:
[code]
Happens on ruby `1.9.3-p547` and `2.1.2`.

Gem version `3.16.14.7` still works fine.  Error suggests spaces.h is performing bogus comparison.

[2015-06-30 13:56] cowboyd commented on #174
I've yanked this version of the gem until I can find out what's going on.

[2015-06-30 13:56] #174 closed

[2015-06-30 13:57] cowboyd commented on #174
@atz I still cannot understand why rubygems is not matching yosemite to the binary gem :angry: You should not be having to ever compile libv8 for yourself.

[2015-06-30 14:53] cowboyd commented on #172
What version of rubygems are you using?

[2015-06-30 15:23] ignisf commented on #174
@cowboyd take a look at https://github.com/cowboyd/therubyracer/issues/316#issuecomment-55495993

[2015-06-30 16:12] tagliala commented on #172
[code]

[2015-06-30 16:26] tagliala commented on #172
Sorry...

[code]

updated to 2.4.8, same error, different version of libv8 (3.16.14.8).

[2015-06-30 19:09] maxmeyer commented on #174
Thanks a lot. @ignisf I didn't found the *.h-file you mentioned in the travis output. Maybe you've got a different problem then me?

[2015-06-30 21:14] atz commented on #174
@cowboyd dunno, RubyGems version was `2.2.2`.

[2015-06-30 21:16] cowboyd commented on #174
fwiw, I've opened this https://github.com/rubygems/rubygems/issues/1299

[2015-06-30 21:47] bronson opened #175 "Publish 3.16.4.9?"
This page shows that 3.16.14.9 is out: https://github.com/cowboyd/libv8/releases

But this page shows that it hasn't been published to rubygems: https://rubygems.org/gems/libv8

Is it just a matter of time?

I ask because right now building 3.16.14.8 is failing on my machine...  Hoping a binary release will make this irrelevant.

[2015-06-30 21:48] bronson commented on #175
Here's the error, fwiw:

[code]

[2015-07-01 02:06] envygeeks commented on #175
It was put up and yanked for some reason.

[2015-07-01 08:29] tagliala commented on #175
the reason probably is: #172

[2015-07-01 10:20] born4new commented on #175
Yup, we have that issue aswell, will stay to a lower version for the time being.

[2015-07-02 05:24] donv opened #176 "Compilation error for 3.16.14.11 on OS X"
Hi!

We are getting a compilation error when installing 3.16.14.8, 3.16.14.10, or 3.16.14.11.  Version 3.16.14.7 works fine.

[code]

[2015-07-02 05:35] cowboyd commented on #176
Hi Don,

I'm actually in the middle of releasing the binary gem for OSX 10.10, so if you could try now, I'd appreciate it.

However, there appears to be a bug in rubygems that is not selecting the binary gem even though it was built on darwin-14 https://github.com/rubygems/rubygems/issues/1299

If it still does not work, you can just do

[code]

to install it manually, until we can figure out why

[2015-07-02 05:35] #176 closed

[2015-07-02 05:41] cowboyd commented on #175
`3.16.14.11` is now out.

[2015-07-02 05:41] #175 closed

[2015-07-02 05:42] donv commented on #176
Hi @cowboyd !

Thanks for the quick response.  I retried now, but with the same results.

Then I updated my RubyGems from 2.4.7 to 2.4.8 and I could install 3.16.14.11 successfully.

Joy!

[2015-07-02 10:07] ksarna commented on #120
Tried everything: reinstalling rubies, nuking rvm, brew v8, --with-system-v8, cloning libv8 and trying to run rake install, downgrading command line tools to 6.2. Nothing helped. Luckily a version 6.4 of xcode arrived and bundle install just worked. \***sigh**\*

[2015-07-02 11:54] cowboyd commented on #120
@ksarna The biggest problem was that developers on OSX should never have to compile libv8 ever because there is a [binary gem for mavericks][2]. It turned out to be [an issue with rubygems], where a binary gem built with rubygems < 2.2 would not be selected by rubygems > 2.4.

The 6.4 commandline tools are still incompatible with the version of v8 we use, but last night I released a new binary gem

[2015-07-02 11:59] ksarna commented on #120
@cowboyd sounds good! Thanks for the info and your work.

[2015-07-05 15:22] ignisf commented on #158
Not needed in the 4.5 branch

[2015-07-05 15:22] #158 closed

[2015-07-06 05:03] uberweb opened #180 "Failed to build gem native extension - OS X 10.11"
When I am installing libv8 on my OS X 10.11 install with Ruby 2.2.1, I see this (from `bundle install`)

[code]

I've tried following your advice here https://github.com/cowboyd/libv8/issues/176#issuecomment-117911884 and it installs successfully, however `bundle install` inside our app (with the same version specified) does not.

/cc @radar

[2015-07-06 05:22] radar commented on #180
(I'm cc'd on this because I am helping @uberweb debug this)

[2015-07-06 05:23] johndpope commented on #180
try this  http://stackoverflow.com/questions/24081473/how-to-install-therubyracer-gem-on-10-10-yosemite

[2015-07-06 05:33] semnil commented on #180
Please refer to this.
https://github.com/cowboyd/libv8/pull/177

[2015-07-06 06:21] uberweb commented on #180
Thanks @semnil This has resolved my issue.

[2015-07-06 06:21] #180 closed

[2015-07-06 19:23] pseidemann commented on #150
+1

[2015-07-13 23:36] cowboyd opened #187 "add vagrant build for freebsd 9,10"

[2015-07-13 23:37] cowboyd opened #188 "add vagrant build for ARM"

[2015-07-14 08:12] toncid opened #189 "Add a changelog"
Any chance of adding a changelog to the repo?

Right now it is unclear what changed between 3.16 and 4.5.

Thanks!

[2015-07-16 17:29] saizai commented on #189
+1. Was just going to suggest.

[2015-07-23 05:10] tsechingho commented on #169
I got this issue too, my solution is following.

[code]

If you use rvm, please reinstall ruby after update Mac OS X and check your ruby platform too.
If there are binary builds of libv8, like `libv8-3.16.14.7-x86_64-darwin-14.gem`, you should work well.

[2015-07-29 05:29] badbob commented on #29
This error is about a libv8-3.11.8.17\ext\libv8\builder.rb script.
On line 60 we can see this code:
[code]

This is a wrond python command syntax in Windows. You should use a double quotes, like this:
[code]

After fixing this script, you should run gem install with "-l" (use local only) key. If you don't, gem will download a script with an error again.

[2015-07-29 08:45] ignisf opened #194 "The python version check uses incorrect syntax that errors on windows"
As reported here https://github.com/cowboyd/libv8/issues/29#issuecomment-125847914 by @badbob

[2015-08-10 08:12] ignisf commented on #187
http://blogs.freebsdish.org/brd/2015/08/07/official-vagrant-freebsd-images/

[2015-08-13 00:20] htatche commented on #169
@tsechingho I can't thank you enough, I've been messing around with this for almost 2 days. THANKS

[2015-09-09 16:00] stefankaiser commented on #150
+1

[2015-10-09 02:34] straggler7 commented on #169
@tsechingho Thank you very much. Saved my day.

[2015-10-11 19:07] vemek opened #196 "Submodule `vendor/v8` commit no longer exists"
It seems that the submodule commit pointed to for `vendor/v8` no longer exists. This causes bundler to fail installing libv8 using master, which I need to do due to the recent build patches for OS X 10.11.

[code]

I'd like to PR a change to point the submodule at the correct v8 tag, but I'm not sure which patch of V3.16.14 you were targeting.

[2015-10-11 20:33] ignisf commented on #196
IIRC it was pointed to the commit tagged with 3.16.14.

https://chromium.googlesource.com/v8/v8.git/+/2f0efdebb142c00de6950453b4c2df20ceb8df6e
https://github.com/v8/v8/commit/2f0efdebb142c00de6950453b4c2df20ceb8df6e

[2015-10-11 20:48] vemek commented on #196
Cool, thanks - I've opened a quick PR here: https://github.com/cowboyd/libv8/pull/197

[2015-10-12 23:17] #196 closed

[2015-10-22 09:44] jk779 commented on #189
so, what _did_ change?

[2015-10-22 23:49] ignisf commented on #189
IIRC the binary gems for 3.16.14.8 were compiled with a GCC newer than 4.8 which was causing SEGFAULTs on many systems. So @cowboyd [fixed the version of GCC](https://github.com/cowboyd/libv8/commit/dc25d944a2e3fe91f5e58153f8a713e3dd520a81) and rereleased the binary gems.

More info on the versioning convention can be found here: https://github.com/cowboyd/libv8#versioning

[2015-11-15 13:21] reiz opened #198 "Can't install on Alpine Linux"
I'm trying to install this on Aline Linux through a Ruby project. I have this line in my Gemfline:

[code]

But bundle install fails with this error message:

[code]

`git-svn` is installed! That for sure. But why does the installation fail because the man page for git-svn is missing? That is very frustrating :-(

[2015-11-15 19:02] ignisf commented on #198
Can you test https://github.com/cowboyd/libv8/tree/git-svn-check please?

[code]

[2015-11-20 11:19] reiz commented on #198
It's obsolete for right now. I decided to go ahead with Ubuntu as Docker base image because I had some odd character encoding issues with the combination Ruby + Alpine Linux. After one day debugging I couldn't resolve the encoding issues even by setting all kind of ENV variables to UTF-8.
Libv8 works fine on Ubuntu!

[2015-11-20 11:19] #198 closed

[2015-12-07 11:54] JikkuJose commented on #120
@calexicoz exactly the same issue here!

[code]

This is what I did, before starting the server.

[code]

System config:
El Capitan
Ruby: 2.2.2

Any more information is required?

[2015-12-25 00:22] Anabar commented on #142
:+1: @mbrichman

:+1: @dt1973

[2015-12-30 20:42] lacostenycoder opened #202 "Install fail OSX 10.9.4 with Ruby 2.1.2 under rbenv 1.0.0"
Error log was so long I didn't want to post it here, instead gist

https://gist.github.com/lacostenycoder/70491398626104a87c6a

[2016-01-04 17:56] marcomd commented on #194
The syntax is correct now, it uses double quotes.

The error is another

"patch" is not recognized as an internal or external command

C:/ruby/ruby-223x64p173/lib/ruby/gems/2.2.0/gems/libv8-3.16.14.13/ext/libv8/patcher.rb:51:in `block (2 levels) in patch!': failed to apply patch (RuntimeError)

[2016-01-04 18:01] marcomd opened #203 ""patch" is not recognized on windows"
I'm using 3.16.14.13 to combine with therubyracer gem but i also tried last version with the same result.

[code]

C:/ruby/ruby-223x64p173/lib/ruby/gems/2.2.0/gems/libv8-3.16.14.13/ext/libv8/patcher.rb:51:in `block (2 levels) in patch!': failed to apply patch (RuntimeError)

[2016-01-04 18:55] ignisf commented on #203
Hello,

The build process requires the `patch` utility to be present in the PATH. Could you please take a look if it is in the Ruby DevKit?

[2016-01-05 10:40] marcomd commented on #203
Hello,

no there isn't in the dev kit, i put it manually but i get an error. I'm investigating

[code]

[2016-01-07 09:06] marcomd commented on #203
http://gnuwin32.sourceforge.net/packages/patch.htm

I found this note:
*On MS-Windows, the patchfile must be a text file, i.e. CR-LF must be used as line endings. A file with LF may give the error: "Assertion failed, hunk, file patch.c, line 343," unless the option '--binary' is given.*

[2016-01-07 10:41] marcomd commented on #203
I suggest:

[code]

[2016-01-07 11:05] marcomd commented on #203
I updated the file patcher.rb locally and i run extconf.rb. It went to the end without errors but it did not create the binary

[code]

[2016-01-07 11:15] ignisf commented on #203
First of all, great work.

Second, I do not see an error message in your latest comment. How did you determine it did not compile the library?

[2016-01-07 11:53] marcomd commented on #203
Thanks but it is only a small contribution, you are doing a great work.

I'm not sure it worked because i don't find the binary in the libv8-3.16.14.13\vendor\v8\out
[code]

I expected to find somewhere the .so file that is normally located in the folder under ..\extensions\x64-mingw32\2.2.0\libv8-3.16.14.13

[2016-01-07 12:00] ignisf commented on #203
The scripts compile a static library, so you should be looking for a `.a` file instead of a `.so` (though I'm not sure that this is the suffix for static libraries compiled by MinGW). You can try to produce a binary gem directly by running `rake binary`.

[2016-01-07 13:05] marcomd commented on #203
I cloned the repo but compiling goes wrong. A puts shows thats the patch is `disable-building-tests.patch`

[code]

[2016-01-07 13:15] ignisf commented on #203
Hmmm.. Can you check if the patch is actually applied? If it is, there is probably an issue with the evaluation of the return code of the patch command.

[2016-01-07 15:52] marcomd commented on #203
Ok It seems to work, there is a libv8-3.16.14.14-x64-mingw32.gem (i added +1 to version to avoid confusion) under /pkg folder. I installed and I would to test it. I'm installing therubyracer but i get an error, damn

[2016-01-07 16:34] ignisf commented on #203
Great! Could you open a PR with your changes up until now?

[2016-01-10 10:17] Vorob-Astronaut commented on #120
+1

[2016-01-27 19:53] warp-linden commented on #120
@JikkuJose Same issue here

[code]

[2016-03-08 20:22] sockmonk commented on #189
While that's good to know, it would still be nice to have a CHANGELOG. Even if it only contains the versioning policy. :-)

[2016-03-11 08:38] justin808 commented on #169
FWIW, I could not do anything to get Ruby 2.1.4 to work with the Ruby Racer Gem. Ruby 2.1.5 works fine.

[2016-03-22 06:54] RISCfuture opened #205 "libv8 fails to compile with OS X 10.11.4/Xcode 7.3/clang 7.3.0"
[code]

[2016-03-23 20:20] tnsderek commented on #205
+1 I have the same issue.  Do you have a solution @RISCfuture ?

[2016-03-23 21:21] RISCfuture commented on #205
I just compiled libv8 and therubyracer with --use-system-v8 (or whatever the option is called).

[2016-03-23 21:35] kovyrin commented on #205
@RISCfuture what version of libv8 did you use in your system to be able to do that? I've tried the one from homebrew master (4.x) and one from homebrew versions (3.15) - didn't work.

[2016-03-23 21:51] kovyrin commented on #205
The only way I managed to install it all so far:
1. `brew install https://gist.githubusercontent.com/kovyrin/35a29d83749f7515ca00/raw/29f7f4b7d329be94c7877f7533ea91598d5f898c/v8.rb`
2. `gem install libv8 -v 3.16.14.3 -- --with-system-v8`
3. `gem install therubyracer -v '0.12.2' -- --with-system-v8 --with-v8-dir=/usr/local/opt/v8`

[2016-03-23 22:03] kovyrin commented on #205
Actually, nm, the gem crashes ruby on load... so something is not right with that approach :-(

[2016-03-23 22:35] RISCfuture commented on #205
I tapped homebrew/versions and installed v8-315.

[2016-03-23 22:39] kovyrin commented on #205
cool, thanks!

[2016-03-24 14:58] Haegin commented on #205
The following worked for me:

[code]

The versions are the ones I needed from my Gemfile.lock.

[2016-03-24 15:58] joergschiller commented on #205
Unfortunately the hints above doesn't work for me. I guess it's because of the mismatch of v8 version between 3.15 in brew and the 3.16 that is required by therubyracer.

The following worked for me (using older Apple's GCC for compiling):

    gem uninstall -a libv8
    gem uninstall -a therubyracer

    brew tap homebrew/dupes
    brew install apple-gcc42

    gem install libv8 -v '3.16.14.7' --

[2016-03-24 22:17] mnuzzolilo commented on #194
When will this be released?

[2016-03-24 22:20] mnuzzolilo commented on #29
@badbob
[code]

[2016-03-24 22:36] mnuzzolilo commented on #203
There seems to be far more problems with this builder file on Windows than simply lack of the patch executable.
Fetch v8 fails to execute, without much of an error message.  Fetch v8 hangs when I run it manually.

I have to be honest with you, this is the most frustrating experience I have ever had with a library installation, and that's saying something.

[2016-03-25 00:37] mnuzzolilo commented on #203
So this patch thing is a straightforward fix

1. Make sure you actually are testing this on Windows yourself. Don't expect the "community" to submit a pull on this. Chances are if we've had this problem we've already wasted countless hours of time and won't have the patience or time to spare any more of it.

2. Include a version of patch.exe which will work on windows

3. When running a patch, if

[2016-03-25 02:25] ignisf commented on #203
Hi @mnuzzolilo,

First, thank you for your feedback!

Second, I very much understand your frustration. We've been dealing with the peculiarities of the upstream v8 build system for years now.

Now to address the issues you are raising:

1. My views are that if this bug is not worth the time of anybody in the community that actually uses Windows, it's not worth my time either. Not to mention I don'

[2016-03-25 02:51] mnuzzolilo commented on #203
. Submitting a PR means I have to

1. Clean everything up
2. Figure out how to make my changes generic enough so that it can work on anyone's machine
3. Brace myself for complaints if something goes wrong

Like I said, I've already lost at least 6 hours to this problem, and I wouldn't even be here if it wasn't for the fact that running rails on Windows for projects that use CSS Less has a dependen

[2016-03-25 03:08] ignisf commented on #203
There is an ongoing discussion about adding `patch` to the Ruby DevKit, see https://github.com/oneclick/rubyinstaller/pull/222

[2016-03-25 03:10] ignisf commented on #203
@mnuzzolilo, again, thank you for your input and good luck with your project.

[2016-03-25 22:25] mnuzzolilo commented on #203
@ignisf thank you for the info. I've decided to take a second look at this and was able to make a lot more progress. I'm going to submit a pull request when I can.  The 3.x branch (currently master) is confirmed to not work on Windows as v8 itself has compile errors (which are presumably fixed in a later version).

[2016-03-26 08:16] mnuzzolilo commented on #203
patch.exe is already included in the latest version of depot_tools.  I will be able to have a fix for this eventually. However, other problems are causing build failures on windows for version 4.x, and it is no small mess either.  It's mostly an issue of version mismatches.

On another note I believe you may have ran into a problem with make out/Makefile.ia32 generating an error. I was able to out

[2016-03-29 08:20] marcomd commented on #203
I do not think I'll have any more time to spend, sorry for not having completed the PR but faced with that errors I can do nothing.

@mnuzzolilo
Complaining is a waste of time, you can give your contribution :+1:

[2016-03-29 18:35] mnuzzolilo commented on #203
I'll get it in when I can @marcomd, thanks :)

[2016-03-29 19:54] mnuzzolilo commented on #203
P.S. @marcomd If you want to see what I have so far I can set up another branch/fork and you can take it from there if you want

[2016-03-31 15:10] JohnMorales commented on #205
@joergschiller's bundle config seems to be the best solution.

[2016-04-08 18:08] AHaymond commented on #205
Thank you @joergschiller!!! That solved all my issues after trying numerous other avenues, and thanks for including the bundle config!

[2016-04-12 05:48] markorapaic commented on #205
Thanks @Haegin your solution worked for me.

[2016-04-13 07:28] lloeki commented on #205
FWIW there's a `3.16.14.11` build for `x86_64-darwin-15` on rubygems.org, so skipping the build entirely by locking onto that version might be useful to quickly get out of a bind.

[2016-04-14 00:23] wspurgin commented on #205
@lloeki That's what I did too. If you only need libv8 for rubyracer (for a rails project for example) It's better to just lock-in the working version (which is just one down), and wait for a patch to libv8 for clang 7.3.

[2016-04-14 07:47] ignisf commented on #205
Nah, if you only need therubyracer for stuff like coffeescript or autoprefixer, you should just install nodejs. Execjs will find and use it and you don't need neither therubyracer nor execjs in your Gemfile.

[2016-04-23 22:33] Kota-Kun commented on #205
+1 I have the same issue

[2016-04-24 07:27] aviat commented on #205
I fixed the issue with Clang 7.3 in #207.
The issue mostly occurs on rubies built on `darwin15`, with machines using Clang 7.3 (XCode 7.3) since no `darwin15` binaries for `3.16.14.13` have been pushed on rubygems.org. So the install fallbacks on the source.
Finally Clang 7.3 is unable to compile V8 as is because of the it now enables the `-Wshift-negative-value` warning - itself turned into error

[2016-04-24 16:45] reiz commented on #205
Thank. this worked for me `gem install libv8 -v 3.16.14.13 -- --with-system-v8`!

[2016-04-24 19:59] ignisf commented on #205
Should be fixed by #207

[2016-04-24 19:59] #205 closed

[2016-04-26 15:13] kyledecot opened #209 "72633b8 fails to install on OSX 10.11.4"
I just attemped to install libv8 from master (72633b8) and received the following error:

[code]

[2016-04-26 16:24] ignisf commented on #209
Make sure you list it in your Gemfile with `submodules: true` as documented here: https://github.com/cowboyd/libv8#using-a-git-version

[2016-04-26 16:25] ignisf commented on #209
I assume you've specified `submodules: true` as documented here: https://github.com/cowboyd/libv8#using-a-git-version?

[2016-04-27 20:09] #189 closed

[2016-04-27 23:40] #187 closed

[2016-04-28 02:55] ignisf commented on #209
Closing this for now. New version released, so you shouldn't have to use git.

[2016-04-28 02:55] #209 closed

[2016-04-28 02:56] ignisf commented on #157
Seems to no longer be an issue?

[2016-04-28 02:56] #157 closed

[2016-04-29 23:48] ignisf commented on #188
It seems that there is a libvirt provider for Vagrant.

https://github.com/vagrant-libvirt/vagrant-libvirt

and specifically issue 589 from the issue tracker of the project.

[2016-04-29 23:48] #194 closed

[2016-04-29 23:51] ignisf commented on #141
The native ruby on Travis build hosts seems to use an odd `universal.x86_64-darwin-XX` triplet that makes the arch detection fail. Needs further investigation before making this change.

[2016-05-02 08:08] SamSaffron commented on #150
I am going to have to debug this, as it stands it takes us 12 seconds to simply run our JS snippets through babel to build application.js, this feels way too long.

I completely eliminated the ruby racer from our assets minification pipeline due to this huge performance hole. Going to work on some simpler repros this week, but this issue does need more attention.

[2016-05-02 11:03] ignisf commented on #150
A reproduction would help. Let me know if I can help in some way. Unfortunately profiling c++ is a bit out of my league or I would have taken a crack at this.

[2016-05-02 13:40] bf4 commented on #150
@ewoodh2o what's in your test.rb?

[2016-05-02 14:24] ignisf commented on #150
I fear that this is a regression in the upstream code itself. If that proves to be the case, we might have to do one of the following things to get around the issue:

* dig up what exactly is causing the slowdown and create a patch or backport one from upstream
* wait up [until TRR gains support for new v8 APIs](https://github.com/cowboyd/therubyracer/pull/348) and roll out a new version
* create

[2016-05-03 10:48] SamSaffron opened #213 "libv8 is quite a few versions behind stable"
These days node is running:

[code]

libv8 gem is at the somewhat old 4.5.95.5, corresponding more or less with Chrome 45 which was released Sep 1 2015

There are a huge amount of performance and security fixes in the engine since. Why is libv8 on such an old version? API changes do not seem too severe https://docs.google.com/document/d/1g8JFi8T_oAE_7uAri7Njtig7fKaPDfotU6huOa1alds/edit

[2016-05-03 10:52] ignisf commented on #213
Hey, it's due to incompatibility between the current version of therubyracer and the API of the newer versions of V8.

See this PR for more information on the progress of the rewrite: https://github.com/cowboyd/therubyracer/pull/348

[2016-05-03 10:54] ignisf commented on #213
Here are my notes on possible ways to work around the performance issues with asset generation: https://github.com/cowboyd/libv8/issues/150#issuecomment-216249242

[2016-05-03 10:59] ignisf commented on #213
If you think that there's need to bump the v8 version before TRR's rewrite is somewhat complete, I might find some time to do it.

[2016-05-03 11:00] SamSaffron commented on #213
@cowboyd  do we need the giant refactor to support latest libv8 or can something smaller and more incremental be done now to support current v8 with the larger refactor to follow?

[2016-05-03 11:12] SamSaffron commented on #213
@ignisf I definitely think a bump is needed prior to rewrite, a year and a half in v8 world is enormous amount of change. The security flaws alone are justification enough, I was measuring node to be 20% or so faster on a babel transpile test I was running today, all time was in eval.

[2016-05-03 15:22] cowboyd commented on #213
@SamSaffron There were pretty enormous  breaking changes between versions 3 -> 4 that meant almost a complete rewrite of the C layer. There were also just fundamental flaws with it that needed to be addressed. I'm set to begin work on this again on the 1st of June, and I expect to be done by July.

[2016-05-03 15:23] cowboyd commented on #213
I know that's not the best timeline, but it's the best I can do with the time I have available.

[2016-05-03 23:14] ignisf commented on #213
The [5.0](https://github.com/cowboyd/libv8/tree/5.0) branch now contains IMO release-ready code.

[2016-05-03 23:35] ignisf opened #215 "Use Windows version of depot_tools on Windows for v8 5.0"
Currently the build fails on fetching dependencies. More info here: [bang](https://www.chromium.org/developers/how-tos/install-depot-tools#TOC-Installing-on-Windows-Cygwin-and-non-Cygwin-)

[2016-05-04 01:35] SamSaffron commented on #213
Thinking about this, I think a "mini" embedded v8 would probably be best here. One say that only supports "eval" and attaching blocks, with significantly reduced interoperability vs the full suite of what ruby racer offers.

It has a few advantages (I think)

- libv8 will have more than one consumer
- will be significantly easier to keep up to date with v8 changes
- good enough for majority of v8

[2016-05-04 07:32] SamSaffron commented on #150
I started working on this ...

I am making opening moves on building the world's most minimal ruby racer that links against latest v8:

https://github.com/SamSaffron/mini_racer

Performance is significantly better for uglification:

[code]

So there you are, exact same args as https://github.com/lautis/uglifier uses except that instead of taking 144 seconds for our app.js it takes 12.

I am still

[2016-05-04 08:14] ignisf commented on #150
Are you running this on Linux or on OS X? Keep in mind that I specifically disabled link-time optimisations on Linux as the build system was trying to run an ld.gold binary it had pulled and was failing.

[2016-05-04 08:19] SamSaffron commented on #150
Running this on Linux x64, perhaps it is those missing optimisations, will try with a "bring my own" libv8 tomorrow

[2016-05-05 09:15] SamSaffron commented on #150
no luck finding my missing 20% or so of perf, still @ignisf  a new libv8 gem would be mighty welcome even with this performance weirdness

[2016-05-05 11:30] ignisf commented on #150
I have a few nits to pick and will push a 5.0 version

[2016-05-05 23:25] SamSaffron commented on #150
@igas awesome!

Be sure to pick latest stable from https://omahaproxy.appspot.com/ might as well package the latest stable version of v8

[2016-05-05 23:53] ignisf commented on #150
k, sure

[2016-05-08 13:52] SamSaffron commented on #150
@ignisf I just noticed I had to add:

[code]

To work around a linker issue on mac turns out it links to libc++ by default or something, be sure to do a --pre release prior to doing a stable one so I can confirm mini racer compiles right

[2016-05-10 08:33] SamSaffron commented on #213
@ignisf ok except for cross runtime exceptions I have most of the stuff working

https://github.com/SamSaffron/mini_racer

Looking forward to the release of libv8

[2016-05-10 14:19] cowboyd commented on #213
This looks awesome Sam! What about calling it speedracer :)

![image](https://cloud.githubusercontent.com/assets/4205/15149711/3b1ea8e2-1690-11e6-86af-d6a5ecd3a631.png)

[2016-05-11 01:58] SamSaffron commented on #213
@cowboyd honored :) but I think mini_racer is a better name, there is nothing technically stopping us from applying the same perf improvements to therubyracer, in fact now that you have a ref implementation is should be much easier.

- GVL release should be fairly straight forward
- Doing more from c extension is also doable

I think the key here is the "mini" part of racer, its not the full suite

[2016-05-13 01:08] ignisf commented on #150
@SamSaffron are you by any chance hitting this issue: https://github.com/cowboyd/libv8/issues/202?

[2016-05-13 01:10] SamSaffron commented on #150
I was able to install fine on my osx but had to upgrade xcode to latest
first to get latest clang

On Fri, May 13, 2016 at 11:08 AM, Petko Bordjukov <notifications@github.com>
wrote:

[2016-05-13 20:16] ignisf commented on #213
v5.0.71.48.1beta2 up for testing

[2016-05-13 20:16] #213 closed

[2016-05-14 07:28] SamSaffron commented on #213
@ignisf @cowboyd   :heart:

[code]

Also got this working with travis ... which was not trivial ... needed to also hack up extconf.rb

https://github.com/discourse/mini_racer/blob/master/.travis.yml
https://github.com/discourse/mini_racer/blob/master/ext/mini_racer_extension/extconf.rb

The c++11 dependency in v8 means that gcc4.8 is a minimal dependency... I am considering shipping native gems fo

[2016-05-14 07:38] ignisf commented on #213
Travis uses Ubuntu 12.04 by default and that's a pretty ancient platform. I added [this](https://github.com/cowboyd/libv8/blob/master/.travis.yml#L24) to the travis config here to make use of their 14.04 beta.

[2016-05-15 15:27] ignisf commented on #150
For the record, here are results from running mini_racer's `benchmarks/bench_uglify.rb`:

| Runtime  | discourse_app.js | discourse_app_minified.js | discourse_app.js twice on 2 threads |
| --- | ---: | ---: | ---: |
| mini_racer  | 14496.41 ms | 18417.71 ms | 16932.05 ms |
| node  | 18518.89 ms | 25905.57 ms | 21642.31 ms |
| therubyracer | 187749.27 ms | 203036.86 ms | 507423.35 ms |

![chart](h

[2016-05-15 15:33] ignisf commented on #188
Having an issue installing vagrant-libvirt, see https://github.com/vagrant-libvirt/vagrant-libvirt/issues/497

[2016-05-15 23:12] coding-horror commented on #150
Wow an exponential scale eh? :)

[2016-05-15 23:20] ignisf commented on #150
:disappointed:

[2016-05-16 03:53] SamSaffron commented on #150
This does illustrate a huge issue with exponential scale graphs :)

![image](https://cloud.githubusercontent.com/assets/5213/15279913/3d12ab8a-1b6d-11e6-91d5-afc02cfdf2f9.png)

I would really like to rerun these numbers on Linux x64 comparing GCC vs clang compiled libv8 and mini_racer, I am very curious to see the performance difference

[2016-05-16 04:08] ignisf commented on #150
You should be able to do this by locking the version [to the source release](https://github.com/cowboyd/libv8/#versioning) and [configuring a compiler](https://github.com/cowboyd/libv8/#bring-your-own-compiler). One thing to note is that at least from the build guide it seems like clang is the preferred compiler for v8.

I don't expect there to be any major differences in performance just solely b

[2016-05-16 04:29] ignisf commented on #150
I am really not sure we should just flick on LTO :D

![kkj3bvg](https://cloud.githubusercontent.com/assets/1153188/15280308/d867dbae-1b37-11e6-805b-16bebbb3f570.png)

[2016-05-16 05:19] ignisf commented on #150
Peak memory used for linking with lto on one make job is around 3,5512 GB. The produced binary gem archive is 275 MB.

It seems that the LTO is enabled automatically when linking the mini_racer_extension.so.

Could not benchmark because invoking the benchmark script causes a segfault. LTO-enabled branch can be found here: https://github.com/cowboyd/libv8/tree/lto

[2016-05-16 05:48] SamSaffron commented on #150
phoronix had some pretty mixed results with lto ..
http://www.phoronix.com/scan.php?page=article&item=gcc_471_lto&num=3

I mentioned the clang tests cause another bench I have has node clocking
20% faster so I am curious if this is the compilation of something
internal.

On Mon, May 16, 2016 at 3:19 PM, Petko Bordjukov <notifications@github.com>
wrote:

[2016-05-18 19:01] ignisf commented on #202
Hello @lacostenycoder could you try again with libv8 5.0?

[2016-05-18 19:06] ignisf commented on #215
The zip file from this link actually contains a clone of the git repo, not a windows-specific version of depot-tools

[2016-05-18 19:06] #215 closed

[2016-05-18 19:07] ignisf commented on #141
No longer needed IMO. This version of v8 does not work on 64-bit ARM anyway.

[2016-05-18 19:07] #141 closed

[2016-05-19 06:01] Jo-Ee commented on #180
Had the same problem. Did "bundle update" and it solved the problem.

[2016-05-20 09:47] samnissen commented on #180
@Jo-Ee Thank you -- worked for me too.

[2016-05-20 09:50] ignisf commented on #180
Hello, this issue should be resolved by libv8 3.16.14.15

[2016-05-20 10:08] ignisf commented on #202
Reopen if you have more information

[2016-05-20 10:08] #202 closed

[2016-05-20 13:00] ignisf commented on #188
Opened upstream Vagrant issue: https://github.com/mitchellh/vagrant/issues/7330

[2016-05-24 05:20] medicsmarket commented on #205
**First, check if you have Xcode installed**
**Second, if you already have Xcode in your Mac, use this command**

    CC=gcc rvm install-version
**Example**

    CC=gcc rvm install-1.9.3

**Reason for this error in Mac OS is that your Ruby is not able to get the C header files**

Hope, this works on all the Macbook's.
**Its working on El Capitan, ruby 1.9.3, rails 3.2, mysql 5.7**

[2016-06-04 22:04] ignisf opened #217 "Windows support"
Windows support has been a feature that has been long requested. The 3.16 can be compiled in Windows, however we lost this functionality with the upgrade to 5.0.

We need help with maintaining the gem for Windows. If a person is willing to step up and take on support and maintenance for Windows we will gladly help. Up until that point the libv8 gem will only have support for UNIX and UNIX-like OSe

[2016-06-04 22:08] ignisf commented on #217
To add to that, the Ruby DevKit as of the date of this comment ships MingW 4.7 which lacks the C++11 support necessary for compiling current versions of V8. See https://github.com/oneclick/rubyinstaller/issues/232

[2016-06-09 22:40] SamSaffron commented on #150
I think it is fine to close this for now, nothing more for libv8 to do in this regard

[2016-06-09 23:46] SamSaffron opened #218 "Time for a new libv8 release :)"
https://omahaproxy.appspot.com/

Chrome 51 is out, so we should update to 5.1.281.59

[2016-06-10 05:24] #150 closed

[2016-06-10 12:48] ignisf commented on #218
prerelase up for testing

[2016-06-10 18:35] ignisf commented on #218
There's at least one important (and log awaited) change https://chromium.googlesource.com/v8/v8/+/e8c914f18fd88cd58aaaf5d8cee53b9e57477b52.

It will require a patch to mini_racer, will create a PR once I test it.

[2016-06-15 12:18] ignisf commented on #218
https://github.com/cowboyd/libv8/commit/d7c013d88e2c7ee6a683a9a7eaa9953edfc885ac

[2016-06-15 12:18] #218 closed

[2016-06-15 15:20] ignisf commented on #150
![babel obg](https://cloud.githubusercontent.com/assets/1153188/16085742/bf376450-3325-11e6-85b4-e511a00ce6e1.png)
![exec](https://cloud.githubusercontent.com/assets/1153188/16085744/c1279780-3325-11e6-940b-d108c363d5d0.png)

[2016-06-22 08:24] ignisf opened #219 "libv8 5.1.281.59.1 affected by upstream issue 604033"
[code]

https://bugs.chromium.org/p/chromium/issues/detail?id=604033

https://codereview.chromium.org/2088783002

https://www.reddit.com/r/javascript/comments/4oxtgk/javascript_developers_be_warned_about_this_crazy/

[2016-06-22 08:28] ignisf commented on #219
@wk8, @samsaffron, shall I release a version based on 5.1.281.67?

[2016-06-22 15:25] wk8 commented on #219
@ignisf : I'm certainly all for it, that would be very much appreciated :)

[2016-06-22 21:27] SamSaffron commented on #219
Sure, go for it :)

On Thursday, 23 June 2016, Jean Rougé <notifications@github.com> wrote:

[2016-06-24 11:03] ignisf commented on #188
A workaround for Arch Linux exists: https://wiki.archlinux.org/index.php/Vagrant#vagrant-libvirt

[2016-06-30 15:04] marguerite opened #220 "libv8-5.1.281.59.1 depot_tools missing symlinks"
there're symlinks from vendor/depot_tools/support/chromite_wrapper to vendor/depot_tools/{cbuildbot,chrome_set_ver,cros,cros_sdk} in upstream's depot_tools

but our `.gem` doesn't have these symlinks.

so `gem specification --local --ruby libv8-5.1.281.59.1.gem > libv8-5.1.281.59.1.gemspec` will generate a gemspec whose filelist contains non-existent files.

marguerite

[2016-06-30 15:51] ignisf commented on #220
Hmm, are you trying to repackage the gem as an RPM? Could you walk me through the process so I can easily replicate the issue here, @marguerite?

[2016-06-30 16:15] marguerite commented on #220
@ignisf clever! I'm trying to update openSUSE's rubygem-libv8.

my workspace is here: https://build.opensuse.org/package/show/home:MargueriteSu:branches:devel:languages:ruby:extensions

you can enter rubygem-libv8-fail to see the raw build (enter and click the right fail indicator)

and the rubygem-libv8 is the build that solved this issue by `cp -r` chromite_wrapper to those files.

btw, is there

[2016-06-30 16:20] marguerite commented on #220
and in case you have no idea what %gem_unpack and %gem_build do:

https://build.opensuse.org/package/view_file/devel:languages:ruby/ruby-common/ruby.rpm-macros

they're documented here. just a few shell scripts.

basically, %gem_unpack does unpack `.gem` and `gem specification --ruby libv8-5.1.281.59.1.gem`.

while %gem_build does `gem build --verbose libv8-5.1.281.59.1.gemspec`.

[2016-06-30 22:16] ignisf commented on #220
Thank you for the detailed explanation!

No, unfortunately the v8 build process has gotten very... Irregular (for political correctness)... To the point that we'd have to heavily patch it in order to eliminate the `gclient sync` call :(. I have considered it several times, but the frequent update schedule of the lib makes it impractical at this point.

I am going to have to take a look what exactl

[2016-06-30 22:31] ignisf commented on #220
For future reference, the correct link to the workspace is https://build.opensuse.org/package/show/home:MargueriteSu:branches:devel:languages:ruby:extensions

[2016-07-02 11:50] ignisf opened #221 "Add a Vagrant box for Alpine Linux"
libv8 is currently not tested on Alpine. A Vagrant box would help the libv8 maintainers in making sure it builds successfully.

[2016-07-02 11:51] ignisf commented on #221
Ideally someone would provide a script for creating an Alpine Vagrant box so we can create one ourselves.

[2016-07-02 12:27] aviat commented on #221
What about Docker? The Alpine distribution is quite popular these days:
https://hub.docker.com/_/alpine/

[2016-07-02 15:49] ignisf commented on #221
I will look into it, thanks for the idea

For reference https://www.vagrantup.com/docs/docker/basics.html

[2016-07-03 00:44] ignisf commented on #217
If you are running Windows and need to work on a project that has a strict direct or indirect dependency on this gem, I suggest using a Vagrant box until the issues outlined above get resolved.

[2016-07-03 18:05] ignisf commented on #221
<details>
<summary>OK, a `Vagrantfile` such as the one below seems to start up, however I'm not sure how to install the needed packages, start an SSH server and keep the image running so I can use it for testing.</summary>
[code]
</details>

[2016-07-04 08:03] nfedoseev opened #222 "non-standart arch and compiler"
HI.

We have machine with non-standart arch and compiler. So, we unable to complile library

[code]

[2016-07-04 08:16] nfedoseev commented on #222
After delete function for flags again have problems(

[code]

[2016-07-04 08:30] ignisf commented on #222
Hello,

Could you please include the version output of your compiler? With GCC and Clang this is achieved by invoking the compiler with a `-v` flag.

Keep in mind that v8 is VERY picky about compiler support. We're doing quite a lot of patching just to make sure it compiles on newer versions of the compilers supported by upstream v8. I fear that it might not be at all possible to compile with some

[2016-07-04 09:20] nfedoseev commented on #222
lcc:1.20.14:Dec-29-2015:***-linux
gcc (GCC) 4.4.0 compatible

[2016-07-04 11:55] ignisf commented on #222
Please test

https://github.com/cowboyd/libv8/commits/lcc-support-3.16

https://github.com/cowboyd/libv8/tree/lcc-support

[2016-07-04 12:40] nfedoseev commented on #222
lcc-support

[code]

[2016-07-04 12:41] nfedoseev commented on #222
lcc-support-3.16

[code]

[2016-07-04 13:07] ignisf commented on #222
Well, now you have two unrelated to the compiler issues.

The issue with the 3.16 branch is that you have not satisfied the `git-svn` dependency it has.

The issue with the branch based on master is that the v8 source fetch operation fails for some reason.
You can debug what's going on there by adding the `vendor/depot_tools` directory to your path and running `fetch v8`.

As a matter of fact are

[2016-07-04 13:24] ignisf commented on #222
Also, unless your compiler has C++11 support, it's pointless trying to get the master branch to compile. There's a slim possibility for the 3.16 branch though.

[2016-07-04 13:49] ignisf commented on #222
Also, is the compiler open source or are you working with your own fork?

[2016-07-04 13:59] nfedoseev commented on #222
v5.1.281.67.0-3-g9b20a18

[code]

[2016-07-04 14:03] ignisf commented on #222
You need to have them in your `PATH` variable. See https://www.chromium.org/developers/how-tos/install-depot-tools

[2016-07-04 14:04] nfedoseev commented on #222
Compiler created for a closed system based on Debian 7 and custom CPU arch and able to work with Intel x86.

btw very thx for your great support!

[2016-07-04 14:31] ignisf commented on #222
Ping me when you've tried 3.16 after installing svn, or whatever is necessary for git-svn support.

[2016-07-04 14:32] nfedoseev commented on #222
Ok, I'm now compling git-svn

[2016-07-05 08:40] nfedoseev commented on #222
:-1:

[code]

[code]

[code]

[2016-07-05 18:35] ignisf commented on #222
OK, so. I consider the compiler detection issue itself to be resolved by the code changes in the branches. You are welcome to fork and use them, however I don't think it's a good idea merge them in this project.

You are welcome to open up another issue for the source fetching issues you are hitting how.

[2016-07-05 18:35] #222 closed

[2016-07-20 13:07] noloader commented on #98
@ignisf,

Robert Nelson has an early Mustang server board. Its unique in that its Aarch64/ARMv8, but it lacks CRC and Crypto extensions. He provides SSH access to it for those who desire it. You can reach him at *robertcnelson, gmail account*.

If you need some inexpensive Aarch64 dev-boards, then try either:

* [LeMaker HiKey](http://www.amazon.com/dp/B019O3QTSA), $169 USD
* [DragonBoard 410C](ht

[2016-07-21 22:34] BrendonW commented on #221
Why not just start with Docker for Mac or Docker for Windows? You can be up & running with an Alpine container in about 2 minutes.

I got here because I'm trying to put together a base-rails Alpine based container for our app. The ExecJS is giving me fits trying to run libv8. I was hoping to use V8 with mini-racer on Alpine 3.4...

[2016-07-27 01:20] #154 closed

[2016-07-27 02:21] ignisf commented on #217
If you're using Windows 10, it could be possible to use [Bash on Ubuntu on Windows](https://msdn.microsoft.com/en-us/commandline/wsl/about)

[2016-07-27 03:56] ignisf opened #225 "macOS Sierra platform-specific version of the gem"
Currently we produce platform-specific versions of the gem by building them on Travis. Until Travis rolls out macOS Sierra support, we have no way of producing binaries.

[2016-07-27 03:59] ignisf commented on #219
Fixed in https://github.com/cowboyd/libv8/commit/082d90681c7ff349feaabd875b280ff92ccddf96

[2016-07-27 03:59] #219 closed

[2016-08-03 10:04] rmoriz commented on #205
If you're still having this issue just do a `bundle update libv8`, don't try the workarounds mentioned above.

[2016-08-03 10:35] ignisf commented on #225
Also, from Travis' docs:

[2016-08-03 16:49] aviat commented on #225
@ignisf what about manually packaging a libv8 for macOS Sierra (10.12) from a 10.11 build? I expect no retro compatibility issue. If that works for you, I can provide you with the script to do it, and perform the testing myself as well.
The libv8 trust model won't be broken since it will remain between TravisCI (which builds for 10.11) and you.

[2016-08-05 00:53] ignisf commented on #225
Sure, why not, if you can test it :)

[2016-09-19 10:18] jk779 commented on #225
Any news on this? Sierra is going to launch tomorrow and there is no binary version of libv8 yet. This is going to be a pain for a lot of people i think 🙅

[2016-09-19 10:36] ignisf commented on #225
No, at least for now the plan still is for me to cut a release as soon as the nice people from Travis roll out Sierra build images.

This is great news!

[2016-09-19 10:49] ignisf commented on #225
Actually... There is news -- https://blog.travis-ci.com/2016-09-15-new-default-osx-image-coming/

[2016-10-03 21:12] rriemann opened #226 "installation fails on armv7l (scaleway cloud)"
I want to use [discourse/mini_racer](https://github.com/discourse/mini_racer) on my armv7l ubuntu maschine (Scaleway hoster). Unfortunately, I have a problem with the libv8 dependency.

First, I wonder why I cannot use the binary built available for arm.

Then, I wonder why also the compilation files. :(

[code]

[2016-10-03 22:46] ignisf commented on #226
Hello,

Thank you for reporting this issue!

Because we don't have any trusted ARM systems to build binaries on.

Because we don't have any ARM systems to test on.

[2016-10-03 22:48] ignisf commented on #226
Could you please test if the `armv7l` branch works for you?

Add this to your `Gemfile`:

`gem "libv8", github: "cowboyd/libv8", submodules: true, branch: "armv7l"`

Thanks!

[2016-10-04 02:59] ignisf commented on #226
Honestly, I tried making a QEMU ARM VM... It takes more than a day to compile V8. It's just not practical :(

[2016-10-04 07:21] rriemann commented on #226
Thanks for your quick response!

I'm compiling right in the cloud the branch you mentioned plus an other version based on libv8 v5.0.x. I will let you know about the result.

Compiling seems to take indeed a long while. Configuring bundler to use 4 jobs does not seem to be taken into account.

For both test, I created two separate Gemfiles in distinct folders and run `bundle install --no-deploymen

[2016-10-04 09:13] ignisf commented on #226
Running `MAKEFLAGS+=-j4 bundle install` should speed up the build.

It should be.

Only if it's under my physical control.

[2016-10-04 12:59] rriemann commented on #226
I try to install mini_racer and actually it seems to expect some files in `armv7l.release`, but the files are actually in `arm.release`.

    g++: error: /usr/local/rvm/gems/ruby-2.3.1/gems/libv8-5.0.71.48.3-arm-linux/vendor/v8/out/armv7l.release/obj.target/tools/gyp/libv8_base.a: No such file or directory

[2016-10-04 13:05] ignisf commented on #226
1. Please make sure you've removed all versions of `libv8`
2. Use the HEAD version of `mini_racer` (`gem 'mini_racer', github: 'discourse/mini_racer'`) because the currently released one requires `libv8` 5.0 and the V8 version of the `armv7l` branch here is > 5.3.

[2016-10-04 13:33] rriemann commented on #226
Sorry for the uninformed questions:

1. How do you make sure to not have any version of libv8 installed? I'm using rvm and bundler. Is `gem uninstall` sufficient?
2. I'm using your tag https://github.com/cowboyd/libv8/tree/v5.0.71.48.3 and applied your last arm patch from armv71 to it: https://github.com/rriemann/libv8/commit/153221587c7b58926a4b505e4402fb480d6db255

If I would apply the arm patch

[2016-10-04 13:38] ignisf commented on #226
yes.

Had not noticed that. Doing this should be OK.

[2016-10-05 13:28] rriemann commented on #226
So that's what I did in the initial case and I still ran into the problem.

I'm still investigating an other problem. Apparently, mini_racer cannot find libv8. As compiling is slow, testing is rather difficult. I let you know once I tracked further down the issue.

[2016-10-05 13:41] ignisf commented on #226
Indeed the issue I'm seeing is the same you noticed:

[code]

When `mini_racer` is asking the `libv8` gem for compiler parameters, the `libv8` gem should construct the path to the `.a` files from `Libv8::Arch.libv8_arch`. Which should return arm after applying my patch, unless it doesn't work :D

[2016-10-05 13:54] rriemann commented on #226
I'm not sure if I understand the subtlety when the arch is arm and when armv7l. Could you create an issue for mini_racer than if you think that's their department?

It seems to me that libv8 is always downloaded and compiled from scratch when I run bundle install and installation has failed at some point before. Compilation is indeed very slow… :/

[2016-10-05 13:56] ignisf commented on #226
can you make add me a user on an ARM system so I can take a look for myself? My ssh keys can be found here: https://petko.me/pubkey.txt

[2016-10-05 13:58] ignisf commented on #226
`mini_racer`'s not at fault here

[2016-10-05 15:10] rriemann commented on #226
I've sent you a mail.

last attempt with a Gemfile containing my libv8 branch (v5.0) and mini_racer

[code]

[2016-10-05 23:50] #226 closed

[2016-10-05 23:55] ignisf commented on #226
I've pushed a binary for ARM. I'm hoping somebody will donate an ARM box for us to do this in the future. Again, make sure you do a `gem uninstall libv8` before trying to install `mini_racer` again.

[2016-10-06 00:01] ignisf commented on #226
And boy does asset crunching run slow on ARM 😁😁😬😬😬

[2016-10-06 00:16] ignisf commented on #226
@edouardb FYI Discourse should run fine on Scaleway now with `mini_racer` instead of TRR

[2016-10-10 01:55] ignisf commented on #225
Another update from Travis: https://blog.travis-ci.com/2016-10-04-osx-73-default-image-live/

[2016-10-16 21:33] ignisf opened #227 "V8 5.4.500.31 requires binutils 2.26"
It seems that V8 now requires binutils 2.26 to build. The result of this is that one cannot build it on Ubuntu 14.04 (and anything under 16.04 really).

Error message:

[code]

Full error log: https://travis-ci.org/cowboyd/libv8/jobs/167891871

Possible courses of action:
- Document the dependency on binutils >= 2.26 and go ahead without further actions. Pros: easy for maintaining. Cons: possibly

[2016-10-16 23:12] SamSaffron commented on #227
I think documenting should be fine, the reality is that very very very few
people go about compiling libv8

On Mon, Oct 17, 2016 at 8:38 AM, Petko Bordjukov <notifications@github.com>
wrote:

[2016-10-17 18:14] ignisf opened #228 "GYP has been deprecated in favor of GN"
https://github.com/v8/v8/wiki/Building%20with%20Gyp

https://github.com/v8/v8/wiki/Building%20with%20GN
- [x] Find a way to produce a standalone archive instead of a thin one. Keywords in the ninja build files: `standalone_static_library`, `alink` and `alink_thin`.
- [x] Find a way to produce an `-fPIC` library (it could be possible to specify additional flags via a ninja build flag)
- [x] Skip bu

[2016-11-02 07:51] mouse-lin commented on #225
macOS Sierra 10.12.1.
When i run command  ```gem install libv8 -v '5.3.332.38.1' ```.
Package is corrupt exception: undefined method `size' for nil:NilClass (NoMethodError)

[2016-11-21 18:51] #225 closed

[2016-11-22 13:57] dsimm commented on #135
This worked for me out on macOS Sierra
gem install libv8 -v '3.16.14.11' -- --with-system-v8

[2016-11-22 14:39] ignisf commented on #135
@dsimm I just released a binary for macOS sierra, please try resetting your bundler configuration and updating the gem. --with-system-v8 should not be needed.

[2016-12-27 05:54] ishitatsuyuki commented on #221
The answer is *no*. Since you're building with glibc, it lacks some GNU internals when used with musl.

One choice is static linking, and another is provide separate binary for musl.

[2016-12-27 07:28] ishitatsuyuki commented on #221
Another note for you: the v8 build system downloads their custom binutils, which also use glibc. What the hell.

[2016-12-27 08:08] ignisf commented on #221
Best part is that I had to start using these binutils because of https://github.com/cowboyd/libv8/issues/227

[2016-12-27 08:11] ishitatsuyuki commented on #221
Linking libc statically should solve this perfectly. Some size growth though.

[2016-12-27 08:30] ishitatsuyuki commented on #221
I'm happy compiling it within a Docker container with basic ruby things + `alpine-sdk` + `findutils`, `python2`, `bash` installed. Adding the [glibc packge](https://github.com/sgerrand/alpine-pkg-glibc) makes the custom binutils usable.

[2016-12-27 09:25] ignisf commented on #221
This sounds great, could you possibly collect your changes in a PR and add an alpine how-to to the readme? Maybe start with the docs so I could help you out along the way.

[2016-12-28 07:10] ishitatsuyuki commented on #221
It would be good if you added this as a type of binary release. I currently compile the extension locally and overwrites the one on my server to achieve the same thing.

There's no stable vagrant image for Alpine, so Docker is preferred. The dependencies I mentioned above is enough to compile it.

[2016-12-28 09:04] ignisf commented on #221
This is the way I currently produce Linux binary releases https://github.com/cowboyd/libv8/blob/master/Rakefile#L53-L70. I would appreciate it if you showed me how to extend this process for Docker. I've never used it.

[2016-12-28 09:26] ishitatsuyuki commented on #221
Here's the command:
[code]

Of course root is needed. By the way, 32bit isn't officially available for Docker, so we can ignore it. (Only a few people runs Alpine on their bare metal, much less 32bit, and they can follow the script to build from source anyway.)

[2017-01-12 02:05] abrambailey commented on #62
Wow, yeah, that took a while...

[2017-02-07 02:36] mwarkentin commented on #221
I came across this "fix" for alpine here:

* https://forum.alpinelinux.org/comment/872#comment-872
* https://hub.docker.com/r/usualoma/ruby-with-therubyracer/~/dockerfile/

I've tested and confirmed that v8 / therubyracer work correctly with the following addition to my Dockerfile:

[code]

[2017-02-07 14:47] mwarkentin commented on #221
@ignisf Is this helpful? I'd be happy to open a PR with a Dockerfile of the above.

[2017-02-07 16:01] ignisf commented on #221
Hello, @mwarkentin, thank you for the tip! I still haven't found the time to go through the suggestions here but they do look promising. I'll get back to you.

[2017-02-15 21:50] ignisf opened #231 "Use of undeclared identifier 'MAP_NORESERVE' on FreeBSD 11.0 p2"
See description in https://github.com/cowboyd/therubyracer/issues/434

[2017-02-26 05:16] alias1 commented on #221
I've only done a very basic test of the above mentioned 'ruby-with-therubyracer', but it looks like it will work for my alpine/therubyracer needs. Thanks for the pointer!

[2017-02-27 23:23] ignisf commented on #231
@michaelbaisch, fixed. Hopefully release soon.

[2017-02-27 23:23] #231 closed

[2017-03-09 12:04] ignisf commented on #188
I made an attempt to do this. Unfortunately it takes so long to compile a binary that it's easier to just use a C1 instance on Scaleway.

[2017-03-09 12:04] #188 closed

[2017-03-09 16:16] ignisf opened #233 "Error: Command '/home/vagrant/libv8/python v8/tools/clang/scripts/update.py --if-needed' returned non-zero exit status 1 in /home/vagrant/libv8/vendor"
OS FreeBSD 10&11

[code]

[2017-03-12 09:22] hipcrime opened #234 "Libv8 doesn't build on Raspberry PI"
An installation of BEEF fails because libv8 will not build.
Any help would be appreciated ... here's what happened:

Gem::Ext::BuildError: ERROR: Failed to build gem native extension.

    current directory: /usr/local/rvm/gems/ruby-2.3.3/gems/libv8-3.11.8.17/ext/libv8
/usr/local/rvm/rubies/ruby-2.3.3/bin/ruby -r ./siteconf20170312-4163-152n5h4.rb extconf.rb
creating Makefile
Compiling v8 for ia32

[2017-03-12 10:39] ignisf commented on #234
Could you please post the output of `ruby -e "puts RbConfig::MAKEFILE_CONFIG['build_cpu']"`?

[2017-03-12 11:48] ignisf commented on #234
Also, @hipcrime, what distro are you running on said Pi and what version of the Pi is it?

[2017-03-13 12:43] ignisf commented on #234
@hipcrime ping :)

[2017-03-14 06:15] hipcrime commented on #234
$ ruby -e "puts RbConfig::MAKEFILE_CONFIG['build_cpu']"
armv6l

[2017-03-14 06:17] hipcrime commented on #234
$ cat /proc/cpuinfo
processor	: 0
model name	: ARMv6-compatible processor rev 7 (v6l)
BogoMIPS	: 2.00
Features	: half thumb fastmult vfp edsp java tls
CPU implementer	: 0x41
CPU architecture: 7
CPU variant	: 0x0
CPU part	: 0xb76
CPU revision	: 7

Hardware	: BCM2708
Revision	: 000f
Serial		: 0000000054d8211d

[2017-03-14 06:17] hipcrime commented on #234
Model B Rev 2

[2017-03-14 07:13] hipcrime commented on #234
Raspian Wheezy

[2017-03-14 07:14] hipcrime commented on #234
$ uname -a
Linux 4.1.19+ #858 Tue Mar 15 15:52:03 GMT 2016 armv6l GNU/Linux

[2017-03-14 08:43] ignisf commented on #234
I did not notice which version of libv8 you were trying to install. v3.11 is absolutely ancient, please try to update.

[2017-03-15 07:54] hipcrime commented on #234
Ran again using directions from GitHub.
Running as 'root' in a last ditch attempt to get this to work.

Note that the failure is  "Unsupported target: armv6l"

Here are the full details:

[~]$ git clone --recursive git://github.com/cowboyd/libv8.git
Cloning into 'libv8'...
remote: Counting objects: 3176, done.
remote: Compressing objects: 100% (9/9), done.
remote: Total 3176 (delta 2), reused 0 (d

[2017-03-15 08:25] ignisf commented on #234
Hey, thank you for taking the time to debug this. Could paste the Gemfile of the application you're attempting to run?

[2017-03-15 08:32] hipcrime commented on #234
# BeEF's Gemfile

#
# Copyright (c) 2006-2017 Wade Alcorn - wade@bindshell.net
# Browser Exploitation Framework (BeEF) - http://beefproject.com
# See the file 'doc/COPYING' for copying permission
#

gem 'eventmachine'
gem 'thin'
gem 'sinatra'
gem 'rack'
gem 'em-websocket' # WebSocket support
gem 'uglifier'
gem 'mime-types'

# Windows support
if RUBY_PLATFORM.downcase.include?('mswin') || RUBY_PLAT

[2017-03-15 08:51] ignisf commented on #234
[code]

There's your problem. therubyracer 0.11.3 is super old. You should try to either drop the hardcoded version and update your bundle or remove the snipped I pasted entirely and install nodejs from your package manager.

FYI therubyracer 0.11.3 was released in January 2013 and Raspberry Pi model A was released in February that year.

[2017-03-15 09:02] ignisf opened #235 "Add architecture detection for armv6l"
It seems people still want to use the gem on Raspberry Pis. Add `armv6` arch detection despite it taking days to compile and me being unable to produce binaries for it.

https://github.com/cowboyd/libv8/issues/234

[2017-03-15 09:03] ignisf commented on #234
I've opened up these two corresponding issues ^

[2017-03-16 09:49] hipcrime commented on #234
Still won't build; but at least it tries to compile and then dies with a different error which is "Illegal instruction" ... here are the details:

Gem::Ext::BuildError: ERROR: Failed to build gem native extension.

    current directory: /usr/local/rvm/gems/ruby-2.3.3/gems/libv8-3.16.14.19/ext/libv8
/usr/local/rvm/rubies/ruby-2.3.3/bin/ruby -r ./siteconf20170316-2820-qftc9m.rb extconf.rb
creating

[2017-03-19 06:02] hipcrime commented on #235
Don't really want to use this Gem but want to use Beef which requires it.  That being said, more than happy to let one of my many Pis run for however many days it takes to get a valid compilation.  Would also happily share the binaries, if you wanted them.

[2017-03-19 11:06] ignisf commented on #234
Hello again,

I am out of ideas for this one :(. I'd suggest just removing this from your `Gemfile` and installing node from your package manager:

[code]

[2017-03-24 20:11] avkarenow commented on #233
Hello,

any ideas how to compile gem libv8 on FreeBSD 10/11? I have the same issue - tested on FreeBSD 10, from source, gem install libv8 etc. without success.

[2017-03-24 20:18] ignisf commented on #233
yes.

`env GYPFLAGS+="make_clang_dir=" gem install libv8`

[2017-03-24 20:19] ignisf commented on #233
Must find two minutes of free time to commit a fix........

[2017-03-24 23:04] avkarenow commented on #233
I tried that command on clean environment: FreeBSD 10.3 + rvm, but still the same problem appeared:
[code]

[2017-03-24 23:43] ignisf commented on #233
Sorry I wasted your time, it's `GYP_DEFINES`

[2017-03-26 16:50] avkarenow commented on #233
It works, thank you for help.

[2017-03-28 20:41] seanmakesgames commented on #227
Here is one vote for 'customer that is fine with documentation route'

[2017-03-28 21:16] ignisf commented on #227
Hey, unfortunately this bugs Alpine linux builds... :( Have to think of something better

[2017-03-28 23:29] ignisf commented on #227
HA! I think I've cracked it!!! https://github.com/cowboyd/libv8/commit/a79d642a3bef972eefd3f4d961cd78e8608ae80b

[2017-03-28 23:33] ignisf commented on #227
Seems that the build system falls back to the sysroot it downloads instead of using the system binutils......

[2017-03-29 12:40] #221 closed

[2017-03-29 12:40] #233 closed

[2017-03-29 12:40] #234 closed

[2017-03-29 12:40] #235 closed

[2017-03-29 12:41] ignisf commented on #227
Fixed by https://github.com/cowboyd/libv8/commit/bb06abe6d71240da00c8c8a3b542f39049a8647f

[2017-03-29 12:41] #227 closed

[2017-03-29 16:04] unquabain commented on #135
Regarding `--with-system-v8`, the libv8 docs have this to say:

https://github.com/cowboyd/libv8#bring-your-own-v8

And that's exactly what happened for me.

[2017-03-30 12:29] ignisf commented on #235
Thank you for your offer, however due to security concerns I cannot really take it up 😟. I've raised an issue with the Beef team with a suggestion how to resolve the necessity to depend on therubyracer.

[2017-04-27 09:35] HugeTerrificSpider opened #236 "Exceeding max allowed process count on accounts with limits when trying to `gem install libv8`"
I'm addressing this issue here because bundler and ruby teams seems to state that "it's not a problem on their side" so far. If this is an issue that should be addressed somewhere in between libv8 and ruby "gem install" command please let me know.

Here comes problem description:

On web hosting server ( paid remote server ) I cannot build libv8, because building system runs out of available proce

[2017-04-27 09:37] HugeTerrificSpider commented on #236
Bundler issue page ( no replies since few days )
https://github.com/bundler/bundler/issues/5607

Ruby issue page ( rejected issue )
https://bugs.ruby-lang.org/issues/13511

[2017-04-27 20:30] ignisf commented on #236
Hello,

Thank you for reporting this issue.

Could you please test with the latest beta of libv8?

Add `gem 'libv8', '~> 5.7.492.65.0beta1' to your `Gemfile` and run `bundle update libv8` to do so.

[2017-04-27 20:32] ignisf opened #237 "install-sysroot.py --running-as-hook' returned non-zero exit status 1"
[code]

[2017-04-28 10:20] HugeTerrificSpider commented on #236
@ignisf

[code]

[code]

[2017-04-28 10:50] ignisf commented on #236
Without the  `, github: "cowboyd/libv8", submodules: true` part please.

[2017-04-28 10:54] HugeTerrificSpider commented on #236
`gem 'libv8', '~> 5.7.492.65.0beta1'`

[code]

[2017-04-28 11:15] ignisf commented on #236
OK, so, my idea to work around this issue is to use a binary version (which I have released for FreeBSD 10) instead of compiling from source. This will just extract the binary instead of pulling all the sources from Google and hitting your process limit.

Now. I'm pretty sure I have released a binary for the latest beta (https://rubygems.org/gems/libv8/versions/5.7.492.65.0beta1-amd64-freebsd-10).

[2017-04-28 11:26] ignisf commented on #236
In fact, I have a FreeBSD binary of the latest stable version as well... https://rubygems.org/gems/libv8/versions/5.3.332.38.5-amd64-freebsd-10

[2017-04-28 11:56] HugeTerrificSpider commented on #236
[code]

[2017-04-28 12:11] HugeTerrificSpider commented on #236
I see your point here. Is there any flag/setting/etc to force installation of binary instead of building component from sources?

And is it prone to any problems related to non standard architecture/installation? I mean it's x86 FreeBSD box, but it's a shared hosting where I do not have root access as a client.

Also libv8 is just a dependency of some another dependency of bigger project that I am

[2017-04-28 12:22] ignisf commented on #236
Hmm...

[code]

From the gem's metadata: `platform: amd64-freebsd-10`... Will have to take a closer look why there's a discrepancy.

No, if Rubygems finds a binary for your platform, it prefers it automatically.

Should be fine. Once istalled :P.

Are you installing Discourse by any chance?

[2017-04-28 12:24] HugeTerrificSpider commented on #236
Yes.

[2017-04-28 12:58] ignisf commented on #236
K. So, the issue I find is that the platform triplet of your Ruby is `x86_64-freebsd-10` while the binaries I've pushed to rubygems have an `amd64-freebsd-10` triplet. Question is why is there a discrepancy, since I've used stock FreeBSD 10 with a Ruby from its package system to make the binaries.

Will have to take a closer look but can't right now. Maybe you should also open up a ticket with you

[2017-05-04 05:13] HugeTerrificSpider commented on #236
@ignisf any news?

[2017-05-05 08:30] ignisf commented on #236
Hi,

Yes, I attempted to reproduce the x86_64 triplet to no success D:.

Could you try in some way if this gem will install on your hosting: https://petko.me/libv8-5.3.332.38.5-x86_64-freebsd-10.gem

It's just a repacked FreeBSD binary with changed metadata. If it works, I'll push it to Rubygems

[2017-05-08 07:53] HugeTerrificSpider commented on #236
@ignisf
[code]
and
[code]

both produce error

[code]
URI::InvalidURIError: bad URI(is not URI?):  https://petko.me/libv8-5.3.332.38.5-x86_64-freebsd-10.gem
  /home/spider/.rvm/rubies/ruby-2.2.6/lib/ruby/2.2.0/uri/rfc3986_parser.rb:66:in `split'
  /home/spider/.rvm/rubies/ruby-2.2.6/lib/ruby/2.2.0/uri/rfc3986_parser.rb:72:in `parse'
  /home/spider/.rvm/rubies/ruby-2.2.6/lib/ruby/2.2.0/uri/common.r

[2017-05-08 08:01] HugeTerrificSpider commented on #236
[code]

[code]

[2017-05-08 12:27] ignisf commented on #236
Hey, now try to run `bundle` with just `gem "libv8"` in your Gemfile. Without `git:` or other parameters

[2017-05-08 12:28] ignisf commented on #236
Actually, just remove the whole `gem "libv8"` invocation in your `Gemfile`

[2017-05-08 12:31] HugeTerrificSpider commented on #236
@ignisf

[code]

[code]

[2017-05-08 12:32] ignisf commented on #236
Looks OK from here, now let's see if `mini_racer` will be happy with our workaround :)

[2017-05-08 12:36] HugeTerrificSpider commented on #236
So you are adding gem from petko.me to libv8? So I can try installing discourse?

[2017-05-08 12:37] ignisf commented on #236
you should be able to even now -- just run bundle in your `Discourse`

[2017-05-09 11:39] HugeTerrificSpider commented on #236
@ignisf

yea, it worked

I'm asking because I'm going to install soon discourse on another account and write instruction for a friend for same case. I don't see commit in repo. I'm just wondering if it's going to be pushed to repo soon or it have to wait.

[2017-05-16 14:24] ignisf commented on #236
Yes, I have pushed the manually modified version of the gem to Rubygems, however this is not a sustainable solution. Please speak to your hosting company and ask them why is Ruby behaving in such a way. This issue will break other gems for you, too and I think it's not a fault in the gems themselves, but in something out of the ordinary that your hosting is doing.

[2017-05-16 14:25] ignisf commented on #236
If you manage to persuade me that I have to account for the `x86_64-freebsd-XX` triplet, I might be willing to commit changes to the gem to generate both an `amd64-*` and an `x86_64-*` binaries.

[2017-05-16 14:25] #236 closed

[2017-05-17 10:17] HugeTerrificSpider commented on #236
@ignisf
OK, thanks for all your help.
For now it seems like an issue with RVM for FreeBSD, as it has x86_64-freebsd-XX triplet format instead of amd64-* I'm reporting that to them.

[2017-05-17 15:32] ignisf commented on #236
Ah, you're using RVM, right. Yes.

[2017-06-03 22:48] nanaya opened #238 "No binary for manually compiled ruby on FreeBSD 11 amd64"
On FreeBSD 11.

I'm not sure which part is at fault here but manually compiling ruby using either plain `./configure <options> && make && make install` or default `ruby-install` will result in `RbConfig::CONFIG['arch'] => x86_64-freebsd11` which doesn't have precompiled binary because there's only `amd64-freebsd-11`.

FWIW, for FreeBSD 10 there are both `x86_64` and `amd64`. And installing ruby vi

[2017-06-03 23:31] ignisf commented on #238
Hello @nanaya,

Thank you very much for the report! We hit this issue once already with a Ruby installed through RVM. https://github.com/cowboyd/libv8/issues/236 https://github.com/rvm/rvm/issues/4037.

This gives me a lead where to look for this inconsistent behaviour. Will also take a look at the `gclient sync` issue.

(Also, what's with the anime avatars throughout github, is it a joke I'm not

[2017-06-03 23:45] nanaya commented on #238
Whoops, I just find out the related issue as well (unrelated title didn't help).

From what I can track, ports system [set (or something)](https://svnweb.freebsd.org/ports/head/Mk/bsd.ruby.mk?revision=439972&view=markup#l225) `RUBY_ARCH` to `amd64` (and perhaps some more stuff), hence different triplet.

Additionally, `autoconf` specifically modifies `amd64` to `x86_64` (probably to unify the name

[2017-06-04 00:31] ignisf commented on #238
Haven't taken a look yet, but you more or less did what I was planning to do. I'll confirm later but it seems we have a few ways of going forward:

* submit patches to Ruby that make behaviour consistent on FreeBSD
* submit patches to FreeBSD to make sure its ports system does not interfere with Ruby's build
* start releasing both an amd64-* and an x86_64-* versions for FreeBSD

[2017-06-04 00:32] ignisf commented on #238
I like better the first two options, not sure which is more correct at this point.

[2017-07-03 18:30] selfagency opened #239 "compile fails on high sierra"
libv8 appears to cause the failure of homebrew packages of which it is a dependency to compile under mac os high sierra (dev beta 2).

[code]

[2017-07-03 18:42] ignisf commented on #239
Hya,

Are you sure rethinkdb uses the libv8 *ruby gem* and not directly the *V8 library* from Google?

[2017-07-03 18:48] selfagency commented on #239
it's possible but node is installing just fine which also uses the v8 library.

[2017-07-03 19:39] ignisf commented on #239
I took a closer look.

Unfortunately rethinkdb does in fact fetch a patched version of the V8 library (v8_3.30.33.16-patched) and embeds it. It's also quite an ancient version which is probably why it fails on your brand new system.

I don't think that has anything to do with this Rubygem, so I'm going to close the issue.

[2017-07-03 19:39] #239 closed

[2017-07-03 19:40] selfagency commented on #239
Ok thanks and sorry for the false report

[2017-07-03 19:40] ignisf commented on #239
No worries :)

[2017-07-13 14:51] SamSaffron opened #240 "New release with 5.9"
5.9 of v8 was recently release and has some really cool perf fixes.

I would love to get it to become stable of of libv8 as soon as we can.

[2017-07-13 22:11] krzysiek1507 commented on #240
There is also 6.0 released

[2017-07-14 00:27] SamSaffron commented on #240
I think 6.0 is the beta stream, chrome stable is on 59

On Thu, 13 Jul 2017 at 6:11 pm, Krzysztof Rybka <notifications@github.com>
wrote:

[2017-07-18 11:13] ignisf commented on #240
Working on 5.9 in https://github.com/cowboyd/libv8/tree/5.9

[2017-07-18 11:14] ignisf commented on #240
Had to backport https://chromium-review.googlesource.com/c/530227/

[2017-07-18 20:27] ignisf commented on #237
An upstream issue exists: https://bugs.chromium.org/p/v8/issues/detail?id=5075

[2017-07-19 16:29] anatol opened #241 "Gem build fails at Arch Linux"
I am trying to build the gem at Arch Linux. This distributive uses the latest build tool that might cause the problem. Anyway here is the build log:

[code]

[2017-07-19 19:59] ignisf commented on #241
Hi. Will take a closer look

[2017-07-19 20:37] ignisf commented on #241
OK. The patch for this will be in the next release. In the meantime you could use the `master` version. I hope it won't be too long before I have 5.9 out.

[2017-07-19 20:38] ignisf commented on #241
Patch in question: https://github.com/cowboyd/libv8/blob/e442d538814f10138ab51c2a0b1c56b88135fa28/patches/0005-Fix-GCC-7-build-errors.patch

[2017-07-19 20:38] #241 closed

[2017-07-21 11:20] ignisf commented on #237
This will be fixed with a stable upstream 6.0 release.

[2017-07-21 11:20] #237 closed

[2017-07-21 20:24] ignisf commented on #240
beta binaries are compiling cc @seanmakesgames

[2017-07-21 22:40] ignisf commented on #240
The beta binaries are up on Rubygems. I think we should be fine for release though.

[2017-07-22 05:46] seanmakesgames commented on #240
@SamSaffron @ignisf getting a handful of
`mini_racer.rb:168: warning: instance variable @disposed not initialized`
for every mini_racer test when it's run. All i've done is
`spec.add_dependency 'libv8', '5.9.211.38.0beta0'`
with mini_racer master.
I'm not sure if this is a libv8 issue or a mini_racer issue, as the errors don't come up when using the earlier version of libv8. (also this comment may

[2017-07-22 09:09] ignisf commented on #238
I've added build scripts that use RVM and produce x86_64* gems.

[2017-07-22 09:09] #238 closed

[2017-07-22 09:13] ignisf commented on #220
@marguerite, is your issue still present? There have been a few releases since you opened it.

[2017-07-24 09:56] sleekweasel opened #242 "Kotlin complains about missing ArrayBuffer"
I'm trying to run Kotlin under rubyracer, but whereas my Chrome browser - running the same V8 5.9.211.38 - successfully loads kotlin.js and test.js to print 'Hello World' in the console, RubyRacer reports missing ArrayBuffer, when I try to load the 'kotlin.js' file:

Updating files in vendor/cache
  * libv8-5.9.211.38.0beta0-x86_64-darwin-14.gem
Removing outdated .gem files from vendor/cache
  * l

[2017-07-24 10:19] sleekweasel commented on #242
Actually, it looks like this is a racer issue: someone suggested I try with mini_racer, and that doesn't complain about ArrayBuffer with whatever v8 it's picking up.

[2017-07-24 10:19] #242 closed

[2017-07-25 16:45] SamSaffron commented on #240
OK the warnings are unrelated, I just pushed a fix, you were probably
running with RUBYOPT=-W2 somehow

@ignisf I say push this out by the end of the week :) :)

On Sat, Jul 22, 2017 at 1:46 AM, seanmakesgames <notifications@github.com>
wrote:

[2017-07-25 17:01] seanmakesgames commented on #240
verified & confirmed @SamSaffron
pointed my tests at the beta binaries, running them now. @ignisf

[2017-07-25 17:14] seanmakesgames commented on #240
Tests look good.

[2017-07-25 22:07] ignisf commented on #240
👏👏👏

I'm on it

[2017-07-26 06:53] ignisf commented on #240
done.

[2017-07-26 06:53] #240 closed

[2017-07-26 14:24] ignisf opened #243 "Update upstream V8 to 6.0"

[2017-07-26 15:14] ignisf commented on #243
cc @SamSaffron

[2017-07-26 15:14] SamSaffron commented on #243
❤️  love that you are keeping this up to date!

[2017-07-26 15:40] ignisf commented on #243
I just know you like to run benchmarks, so I'm giving you an excuse to ;)

Will release beta as soon as I see the CI green.

[2017-07-26 16:45] SamSaffron commented on #243
awesome, we are going to want to test this quick smart given:

https://twitter.com/bmeurer/status/890247544764289025

v8 6.0 was released yesterday 🎊

[2017-07-26 16:45] SamSaffron commented on #243
cc @seanmakesgames

[2017-07-26 17:28] seanmakesgames commented on #243
Interesting. I wish it was easier to benchmark the 'real world' code in my game without pushing it live. I wonder if waiting until 6.1 is released is the right bet. 5.7 has been treating me really well wrt stability (much more important than performance & features in my use case)

[2017-07-26 17:37] SamSaffron commented on #243
I think 6.0 should in theory help, will bench it and see. I do not expect any stability issues though, just minor perf issues.

[2017-07-26 17:48] seanmakesgames commented on #243
haha, in this project, if 'tie-scenario' changes in the underlying sort implementation (apparently not specified in js standard) or something like the random number impl; it can and will break so many things.
Luckily the sandboxy stuff is all pretty well tested, so I'll know if my lockdown methods are immediately compromised. ;)
In any case, the upgrade from 5.3 to 5.7 completely halted segfaults

[2017-07-27 09:08] ignisf commented on #243
Beta is up.

[2017-07-27 10:55] ignisf opened #244 "SEGFAULT Generating code for declaration 'AsyncCompileJob::CompileTask<0>::CompileTask'"
See https://github.com/nodejs/build/issues/723

And https://github.com/MylesBorins/node/commit/70b4ec5249e7aa120f90e25188e0de636b4ae905

[2017-07-27 11:05] ignisf commented on #243
need to fix #244 before release though

[2017-07-27 17:39] seanmakesgames commented on #243
not sure if this is a v8 issue or miniracer issue, but I'm getting this on a `rake clean compile test` in mini_racer:
[code]

[2017-07-27 19:46] SamSaffron commented on #243
confirmed @ignisf appears I am having trouble linking this with miniracer

/home/sam/Source/mini_racer/lib/mini_racer.rb:2:in `require': /home/sam/Source/mini_racer/lib/mini_racer_extension.so: undefined symbol: _ZTIN2v811ArrayBuffer9AllocatorE - /home/sam/Source/mini_racer/lib/mini_racer_extension.so (LoadError)

Maybe arraybufferallocator got removed or something?

[2017-07-28 07:13] ignisf commented on #243
confirmed on linux, too. Looking into it.

[2017-07-28 08:07] ignisf commented on #243
I screwed up with the patches...

[2017-07-28 09:24] ignisf opened #245 "Symbol not found: __ZTIN2v811ArrayBuffer9AllocatorE when trying to load library linked against libv8"

[2017-08-02 16:12] seanmakesgames commented on #243
anything we can do to help with this stuff?

[2017-08-03 06:24] ignisf commented on #243
Hya,

I've been exceptionally busy lately. Unfortunately it's not the patches. I've been hitting this issue even with them removed D:. Still investigating...

Things left to do:

1. Check the newer 6.0 version that Google uses.
2. Remove the parameters that builder.rb passes to the make command.

[2017-08-03 21:14] seanmakesgames commented on #243
yikes! That's weird..
No problem re: busy @ignisf - I'm gonna bite the bullet and use 5.9
Thanks for your efforts on this stuff!

[2017-08-03 21:26] ignisf commented on #243
No luck with the newer version... And without any params the build fails even before it has started... D:

[2017-08-22 12:15] ignisf commented on #243
@seanmakesgames @SamSaffron, I'm beginning to think it's a breaking change in upstream V8 causing this. Not sure what yet.

Working:
[code]

Not working:
[code]

Tried to make the linker tell me what's wrong by making it produce a static library:

[code]

[2017-08-22 12:20] ignisf commented on #243
5.9:

[code]

6.1:
[code]

[2017-08-22 13:33] ignisf commented on #243
Hmmm...

This seems to fix it...

[code]

[2017-08-22 13:36] SamSaffron commented on #243
Nice, I support that change!!!

On Tue, Aug 22, 2017 at 9:33 AM, Petko Bordjukov <notifications@github.com>
wrote:

[2017-08-22 13:51] ignisf commented on #243
Opened https://github.com/discourse/mini_racer/pull/64

[2017-08-22 14:02] ignisf commented on #243
mini_racer now works with the 6.0 beta

[2017-08-22 15:57] ignisf commented on #245
Fixed by https://github.com/discourse/mini_racer/pull/64

[2017-08-22 15:58] #245 closed

[2017-08-23 17:06] ignisf commented on #244
This has been fixed upstream

[2017-08-23 17:06] #244 closed

[2017-08-24 06:36] ignisf commented on #243
v6.0.286.54.0beta1 is up

[2017-08-24 06:36] ignisf commented on #243
v6.1.534.22.0beta1 will soon be up, too

[2017-08-24 14:07] #243 closed

[2017-08-28 17:45] anatol opened #246 "v8 patches failed to apply"
I am building `libv8` using rubygem and it fails with the error below.

Note that I am using rubygems that already includes `vendor/v8` directory content without `.git` dir. Thus `git checkout #{source_version}` in `setup_build_deps!` function fails and I had to remove it. Could it be that gem includes incorrect version of v8 (e.g. `master` branch)?

[code]

[2017-08-28 18:43] ignisf commented on #246
Hello,

Thank you for the report!

Could you please share the output of running `gem env` on your system?

[2017-08-28 18:53] anatol commented on #246
[code]

I am downloading gem source file and installing it as a local file:

[code]

[2017-08-28 19:02] ignisf commented on #246
Ah, I see, thank you! Will fix ASAP

[2017-08-31 20:50] anatol commented on #246
Hi Petko, any update on it? Is there a quick fix that I can apply locally util a new fixed version of `libv8` released.

[2017-09-06 00:25] xaxxon commented on #243
did you guys ever figure out what changed that caused this problem in the first place?

[2017-09-06 00:31] ignisf commented on #243
@xaxxon, hey

Yes -- as far as I understood, the underlying V8 interface for the Allocator changed and we had unimplemented virtual methods as a result of this. (I love how I needed to debug a cryptic linking error to get to this).

Just changing to the default implementation allows us to not worry about them changing the interface again, hopefully.

[2017-09-06 20:57] xaxxon commented on #243
When that happens usually clang gives an error saying that it's likely the
first virtual function isn't implemented but I didn't see that.   Weird.
I didn't realize he interface had changed but undid the same as you anyhow.

Thanks for the answer.

On Tue, Sep 5, 2017 at 5:31 PM Petko Bordjukov <notifications@github.com>
wrote:

[2017-09-08 17:21] anatol commented on #246
Hello @ignisf any update on this issue?

[2017-09-26 11:46] Fjan commented on #239
I can't get the libv8 gem to install on a clean High Sierra install. It does not give any error, it just keeps compiling indefinitely. I tired older versions of the gem too, without any luck. Anybody managed to install this gem on High Sierra? Should I open another issue?

[2017-09-26 11:48] ignisf commented on #239
Hello, please open a new issue, thanks :)

[2017-09-26 13:07] Fjan opened #247 "Failed to install v.6 on High Sierra (very slow install for v.5)"
A straightforward `gem install libv8` fails on macOS High Sierra for the most recent version of the gem (6.0) and a few earlier versions I tried (5.9, 5.3). It appears to compile but never completes. Curiously, it does install version 3.16 (as part of RubyRacer).

[2017-09-26 13:17] ignisf commented on #247
Hi,

So, a standard compilation from source of the libv8 6+ gem takes around 20 minutes on macOS =(. Travis CI have not as of yet released High Sierra build hosts on which I can build binaries. Could you check in your processes if the gem is in fact compiling?

[2017-09-26 14:54] Fjan commented on #247
Hmm, that could explain it, this was on an oldish Macbook Air, so I could have been too impatient. I'll give it another go tonight.

[2017-09-26 17:27] kusold commented on #247
Adding a data point:
The build succeeded for me after an excruciating wait of 27 minutes.

Ruby 2.4.2
libv8 5.9.211.38.1

![screen shot 2017-09-26 at 11 24 08 am](https://user-images.githubusercontent.com/509966/30874339-3cd06d1a-a2ad-11e7-9b2f-fd6bf9601217.png)

[2017-09-26 17:38] Fjan commented on #247
Yes, I can confirm, the install does eventually install for version 5, it appears I was not patient enough. For version 6 it still errors our right away.
[code]
I'll update the issue description to make it more clear. I'm fine with using v5, so you can close this if you want, or leave it open as a reference for people looking to use v6

[2017-09-26 20:51] ignisf commented on #247
Thank you all, will release binaries as soon as Travis starts allowing high sierra builds.

@Fjan, the issue you're experiencing with 6 is https://github.com/cowboyd/libv8/issues/246. Will try to make time to fix it.

[2017-10-03 17:24] kbarrette commented on #247
@ignisf any update on binaries for High Sierra?

[2017-10-10 13:19] sergey-alekseev opened #248 "Failed to install on macOS High Sierra"
[The full gem install trace](https://gist.github.com/sergey-alekseev/b4c44003086ce8ab68fd99d673f62129).
[code]

[code]

[code]

[2017-10-12 01:55] SamSaffron commented on #248
@ignisf this looks pretty urgent... we got to sort it out.

[2017-10-12 02:00] SamSaffron commented on #248
Yeah we need a Darwin 17 binary build ... at the moment there is none :(

[2017-10-12 14:10] cowboyd commented on #248
OSX has always been a problem for us because of the poor virtualization story. It means that a developer needs to upgrade their computer just to build libv8. For example, I'm just on regular Sierra.

[2017-10-12 15:11] douglas commented on #248
Hello!

I built the libv8 gem for High Sierra and you can use it until there is a official release =)

https://drive.google.com/file/d/0B6oB9XcIPsNTYkxWWTlXX1c1eEE/view?usp=sharing

To install it, follow this steps:

1. Download it to your home (~)
2. gem install ~/libv8-5.9.211.38.1-x86_64-darwin-17.gem
3. Profit =)

Here are the steps to build and generate the libv8 v5.9.211.38.1 binary gem for

[2017-10-12 15:29] douglas commented on #248
Btw, I'm building the binaries for v6.0.286.54.1 and I will upload the binary as soon as it finishes here.

I'm using the following steps to build it:

1. `cd ~`
2. `git clone --recursive git://github.com/cowboyd/libv8.git`
3. `git checkout -b v6.0.286.54.1`
4. `bundle install`
5. `bundle exec rake compile`
6. `bundle exec rake binary`

Hope it helps =)

[2017-10-12 16:03] douglas commented on #248
Here is the binary for 6.0.286.54.1:

https://drive.google.com/file/d/0B6oB9XcIPsNTTmhNTEYzWXVDc2c/view?usp=sharing

To install it follow these steps:

1. Download it to your home (~)
2. gem install ~/libv8-6.0.286.54.1-x86_64-darwin-17.gem
3. Profit!

HTH =)

[2017-10-12 16:06] ignisf commented on #248
PSA Be mindful when trusting your and your client's data to random people's binaries.

[2017-10-12 16:11] douglas commented on #248
Totally true, @ignisf!

That is why I posted the steps I used to build the binaries so people can build it themselves (if they want) until we have the official ones.

Btw, thanks for all the work in libv8! Thanks for generating the binaries so we don't have to deal with compiling v8 every time as it takes a long time here.

[2017-10-12 16:12] douglas commented on #247
Hey @kbarrette,

If you need binaries for High Sierra or if you want/prefer to build them yourself, there is some instructions in [this thread](https://github.com/cowboyd/libv8/issues/248).

[2017-10-12 22:21] SamSaffron commented on #248
@cowboyd vmware is quite good these days when it comes to virtualizing osx, I have high sierra working in vmware on windows (with unlocker), mac is even easier.

[2017-10-13 08:01] sergey-alekseev commented on #248
@Douglas thank you very much for [providing the binary](https://github.com/cowboyd/libv8/issues/248#issuecomment-336168126)!

[2017-10-14 00:48] sshaw commented on #248
I get this error on OS X 10.9.5 (and on my work box, which is 10.10  -I think) but only on versions of Ruby greater than 2.1.

[2017-10-17 03:22] SamSaffron commented on #248
@cowboyd @ignisf any chance I can have push on the the gem? I can try to get this out there.

[2017-10-23 20:16] ignisf commented on #247
this issue is a duplicate of 246

[2017-10-23 20:17] ignisf commented on #247
Duplicate of 246

[2017-10-23 20:18] ignisf commented on #248
@SamSaffron, @cowboyd has admin access to Rubygems.

[2017-10-23 20:19] ignisf commented on #248
Duplicate of #246

[2017-10-23 20:41] anatol commented on #246
@ignisf it is an important regression that blocks many of us. Any chance to see it fixed?

[2017-10-23 20:43] ignisf commented on #246
working on it

[2017-10-23 21:48] #246 closed

[2017-10-23 21:48] #247 closed

[2017-10-23 21:48] #248 closed

[2017-10-23 22:14] ignisf opened #249 "v8 6.2 fails to compile on macOS"
`/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/../include/c++/v1/utility:280:38: error: no type named 'type' in 'std::__1::enable_if<false, void>'; 'enable_if' cannot be used to disable this declaration`

See https://travis-ci.org/cowboyd/libv8/jobs/291727765

[2017-10-23 22:15] ignisf commented on #246
Will do a bit more testing and release a new 6.0 binary. 6.2 needs more work.

[2017-10-26 13:12] gsamokovarov opened #250 "Problem building 5.9.211.38.1"
I have a problem installing `libv8` on macOS High Sierra with Ruby `2.4.2`. It comes as `~> 5.9` locked dependency from `mini_racer`. Seems like a problem running:

[code]

[code]

[2017-10-26 15:48] ignisf commented on #250
Hello @gsamokovarov,

Thank you for your report, will look into it.

[2017-10-27 07:57] ignisf commented on #250
@gsamokovarov, I presume this fails consistently and is not just an intermittent issue?

[2017-10-27 08:09] ignisf commented on #250
I've also repackaged the darwin-16 binary for darwin-17, could you test if it works? :)

[2017-10-27 11:15] ignisf commented on #249
Related issues https://github.com/nodejs/node-v8/issues/15 and https://github.com/nodejs/node/pull/15362

[2017-10-27 11:27] ignisf commented on #249
https://chromium-review.googlesource.com/c/v8/v8/+/707008

[2017-10-27 13:17] gsamokovarov commented on #250
@ignisf Yes, it was consistent. Now the installation is going on just fine. 👍

[2017-10-27 13:20] #250 closed

[2017-10-29 22:32] #249 closed

[2017-10-31 10:43] jdongelmans opened #251 "Problem with building 5.3.332.38.5"
I'm trying to update my base image when I encountered this error which was previously absent (looks a bit similar like https://github.com/cowboyd/libv8/issues/250).

Running on Alpine `3.6`:
[code]
[code]

[2017-11-21 18:17] anikolaev94 opened #252 "Fails to build on macOS High Sierra with ruby 2.1.2"
I've got `therubyracer` gem in my Rails project, that depends on `libv8`. Any time I run `bundle install` on command line, it fails with the following:

    Gem::Ext::BuildError: ERROR: Failed to build gem native extension.

    /Users/bakahakka/.rbenv/versions/2.1.2/bin/ruby extconf.rb
    creating Makefile
    Compiling v8 for x64
    Using python 2.7.10
    Using compiler: /usr/bin/c++ (clang v

[2017-11-21 18:20] #252 closed

[2017-12-13 12:46] ignisf opened #253 "Chromium's depot_tools do not work on FreeBSD which causes the build of v8 6.2+ to fail"
At this point there is no upstream support for building V8 on FreeBSD.

[code]

[2017-12-27 05:34] Sega100500 opened #254 "With install Ruby 2.4.3 (and 2.3.6, 2.5.0) and Passenger 5.1.12 ALL sites will fail to open"
With install **Ruby 2.4.3** (and **2.3.6**, **2.5.0**) and **Passenger 5.1.12** ALL sites will fail to open:

**Incomplete response received from application**

from git of Passenger point to problem: https://github.com/phusion/passenger/issues/2010

in log-file exists ```v8``` :

[code]

**/home/ruby/.rbenv/versions/2.4.3/lib/ruby/gems/2.4.0/gems/therubyracer-0.12.3/lib/v8/context.rb:99**

Withou

[2017-12-27 05:38] Sega100500 commented on #254
I wrote to the ```therubyracer``` :  https://github.com/cowboyd/therubyracer/issues/444
But this gem possible die? (Latest commit 466a1f0  on 5 Jan)

[2017-12-27 05:39] Sega100500 commented on #254
full-debug log-file
[passenger.log.debug-7.log](https://github.com/cowboyd/libv8/files/1588402/passenger.log.debug-7.log)

[2017-12-27 07:49] Sega100500 commented on #254
more debug info
[passenger.level7.log.therubyracer.bug.log](https://github.com/cowboyd/libv8/files/1588574/passenger.level7.log.therubyracer.bug.log)

[2017-12-27 07:56] ignisf commented on #254
Hello @Sega100500,

It's bad etiquette to open multiple tickets in multiple projects for the same issue.

[2017-12-27 08:08] Sega100500 commented on #254
Hello @ignisf

I do it not for malicious intent. Simply in each of the components of the system they answer me: "This is not our fault, our system has nothing to do with it, everything works for us," and then they close the topic.

And PROBLEM exists!!!

[2017-12-30 23:30] paulomcnally commented on #254
On heroku have a 404 error trying download: https://oss-binaries.phusionpassenger.com/binaries/passenger/by_release/5.1.12/rubyext-ruby-2.4.3-x86_64-linux.tar.gz

[2018-01-04 13:02] ignisf opened #255 "V8 6.3 exposes its users to the Meltdown and Spectre attacks if used for executing untrusted code"
As far as I understand, the following conditions need to be met:
1. You have to be using V8 to run untrusted code.
2. You have to be running V8 on an unpatched OS.

Mitigations have been merged in 6.4 beta, see:

* https://github.com/v8/v8/commit/a060a4fc565aa40fcb3acb6b075936b78b38fc10
* https://chromium-review.googlesource.com/c/v8/v8/+/848921
* https://sites.google.com/a/chromium.org/dev/Home/c

[2018-01-04 13:07] ignisf commented on #255
@seanmakesgames, @samsaffron ^

[2018-01-04 16:23] seanmakesgames commented on #255
whoops all I use v8 for is executing untrusted code -- @ignisf is this a 6.3 and below or a 6.3 bug?

[2018-01-04 19:35] ignisf commented on #255
looking at the patches, it relies on wasm... so I suspect it's since wasm was introduced. :/

[2018-01-04 20:15] seanmakesgames commented on #255
Excellent. I don't support wasm, so as long as I keep that layer secure things are harder. I have a group of players trying to break it as well, they have some concerns with getting it to work in js, so we'll see how it goes. :)

[2018-01-04 22:58] SamSaffron commented on #255
Yeah let's keep this open till 6.4 is released, but the vuls have been in place for a very long time.

Keep in mind that OS patches will also "fix" this without a 6.4 upgrade and long term a CPU upgrade will fix this as well.

[2018-01-11 16:47] theycallmeswift opened #256 "Fails to build on OSX High Sierra"
I'm having trouble installing libv8 as part of therubyracer on OSX High Sierra (v10.13.2).  Error log is copied below.  Let me know what other info I can share that would be helpful!

**Input**:

[code]

**Output**:

[code]

[2018-01-11 16:56] ignisf commented on #256
Hi,

Thank you for the report. In the meantime I've pushed darwin-17 binaries to Rubygems. Try installing again.

[2018-01-16 19:48] theycallmeswift commented on #256
@ignisf thanks for pushing those.  I was able to reinstall successfully.  Should we update the "Do I get a binary?" section of the README to reflect that darwin-17 is now supported?

[2018-01-19 07:14] ajsharp commented on #248
I was able to solve by bumping to a new version

[2018-02-07 11:10] Hax4us opened #257 "Add aarch64 support to libv8 3.16"

[2018-02-07 11:27] ignisf commented on #257
Hya,

FYI, there's a binary for aarch64: https://rubygems.org/gems/libv8/versions/6.3.292.48.1-aarch64-linux

What issue are you experiencing with the support?

[2018-02-07 11:29] Hax4us commented on #257
Installed but i m unable to install rubyracer with this libv8

[2018-02-07 11:35] Hax4us commented on #257
ok so we have aarch64 support but why rubyracer is not installing ? I m closing this issue and going to open new issue in your rubyracer repo with mkmf.log details

[2018-02-07 12:20] ignisf commented on #257
Ah, I see your issue now. Unfortunately the version of libv8 therubyracer requires does not have upstream aarch64 support :/. It's pretty ancient and at this point it's unfeasible to add it. I'd suggest you migrate to `mini_racer` instead if possible. It links against the current version of libv8

[2018-02-07 12:24] Hax4us commented on #257
Oh shitt...actually i want rubyracer for most popular tool *BeeF* :( kk i will wait for rubyracer

[2018-02-07 12:26] ignisf commented on #257
https://github.com/beefproject/beef/issues/1374

[2018-02-07 12:41] Hax4us commented on #257
:) Thnx dude

[2018-02-25 16:33] mhassaan commented on #239
@Fjan I have just finished installing '3.16.14.11' version of libv8 gem on a clean High Sierra. This version works fine. The command that worked for me is `gem install libv8 -v '3.16.14.11' -- --with-system-v8`. Hope that helps.

[2018-05-05 08:28] #257 closed

[2018-05-05 15:46] ignisf commented on #228
[code]

[2018-05-14 22:10] SamSaffron commented on #228
Given 6.6 is now out and stable and GYP is gone, I am reaching out on Twitter to see if anyone can help us out here!

[2018-06-12 17:52] courtland commented on #253
Are there any plans to fix latest libv8 versions under FreeBSD?

[2018-06-15 12:44] YurySolovyov commented on #255
[V8 6.7 is out by now](https://v8project.blogspot.com/2018/05/v8-release-v67.html) with Untrusted code mitigations

[2018-06-21 18:17] ignisf commented on #256
3.16 binaries will get repackaged for future macOS versions.

[2018-06-21 18:17] #256 closed

[2018-06-25 09:24] niko opened #259 "Chromium's depot_tools are not able to fetch V8's source on Alpine Linux"
I'm getting an error when trying to install `libv8`. I'm using Ruby 2.5.0 on Alpine Linux. It seems to be a problem with downloading the sources.

[code]

[2018-06-26 06:57] niko commented on #259
Strange enough install in the docker ruby:2.5-alpine container just works:

[code]

Notable difference: It's not building native extensions. And that's where my local install fails.

[2018-06-27 02:48] angeloudy commented on #253
Having the same issue

[2018-06-27 04:30] angeloudy commented on #253
There are no binary gems for freebsd after version 6.0.
https://github.com/cowboyd/libv8/releases

[2018-06-27 08:36] ignisf commented on #253
Hello,

Upstream's GYP build system does not seem to be validated against FreeBSD which is causing trouble here. I'm in the works of packaging v8 6.7. Will see if I can resume FreeBSD binary production with it. Apart from that, if you're able to make V8's build scripts work, I am willing to accept patches.

[2018-06-27 08:37] ignisf commented on #259
Hello,

Can you test `gem install libv8 --pre`?

[2018-06-27 12:39] ignisf commented on #253
Alas, still

[code]

[2018-06-27 13:02] ignisf commented on #253
I've opened an issue with the V8 project: https://bugs.chromium.org/p/v8/issues/detail?id=7897

[2018-06-27 13:29] ignisf commented on #253
(Star the issue there)

[2018-06-27 14:02] ignisf commented on #251
Duplicate of https://github.com/cowboyd/libv8/issues/259

[2018-06-27 14:02] #251 closed

[2018-06-27 14:03] #254 closed

[2018-06-27 14:03] #220 closed

[2018-06-27 14:13] ignisf commented on #259
There seems to be lack of upstream support of the SDK with Alpine at this point:

Reference issues:

- [ ] https://bugs.chromium.org/p/v8/issues/detail?id=5701
- [ ] https://bugs.chromium.org/p/chromium/issues/detail?id=786617

Star those issues to help get them resolved or even better -- suggest patches.

[2018-06-28 06:40] niko commented on #259
Any idea why this just works within a docker container?

[2018-06-28 07:29] ignisf commented on #259
Hey, it does not.

If you take a closer look, `gem` downloads the Linux binary version `Fetching: libv8-6.3.292.48.1-*x86_64-linux*.gem (100%)`

This has been linked against glibc, which makes it unusable on Alpine afaik. :(

[2018-06-28 07:33] ignisf commented on #259
Huh... Actually it might work -- the Dockerfile you're using downloads and compiles Ruby from source which I think is linked against glibc... https://github.com/docker-library/ruby/blob/699a04311386ecc98ca242fc9bdee17fb4008863/2.5/alpine3.7/Dockerfile

The Ruby in Alpine's repos is not and in fact is patched to not use binary versions of gems.

[2018-06-29 07:47] niko commented on #259
Oh. Right. That makes sense.

[2018-07-06 07:26] ignisf opened #260 "Add support for building V8 with the system toolchain"

[2018-07-06 07:28] ignisf opened #261 "V8 6.7+ cannot be compiled on ARM/ARM64"
Upstream issue: https://bugs.chromium.org/p/v8/issues/detail?id=6458 go star it :)

[2018-07-06 07:39] ignisf commented on #228
Tracking issue for the system toolchain support: https://github.com/cowboyd/libv8/issues/260

[2018-07-06 07:39] ignisf opened #262 "Automatically create a binary with debugging symbols for each release"

[2018-07-06 08:22] #228 closed

[2018-07-06 08:22] #255 closed

[2018-07-06 08:31] #203 closed

[2018-07-07 17:55] thalyssra commented on #261
Is this due to the GN change? because it should build on both.  An upstream issue link?

[2018-07-07 19:18] ignisf commented on #261
@thalyssra, have not dug down enough to find out. The build fails due to missing `gn` binary for ARM.

[2018-07-07 19:19] ignisf commented on #261
Also, when I tried to crosscompile for ARM, the CFLAGS included `-march=x86-64` so I stopped it. This warrants more investigation but at this point I cannot spare the time. I would appreciate any hints <3

[2018-07-10 17:03] thalyssra commented on #261
Let me poke someone I know who knows a bit more, I know he was looking into this a long time ago.

[2018-07-22 00:09] blshkv opened #264 "libv8-3.16.14.15: Segmentation fault"
I'm unable to compile an old version of libv8 with a gcc 7.3.0.
I'm not sure if you are willing to support this request, but that version is required for therubyracer.

The relevant shapshot is below, I can provide a full build log if required

[code]

[2018-07-22 00:40] blshkv commented on #264
FYI, it might be something to with bad code and ```--strict-aliasing``` workaround, but I did not find a solution.

There are random similar reports such as:
https://freeswitch.org/jira/browse/FS-10977
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=826955

and random patches, but none of them worked here

[2018-07-22 06:57] blshkv commented on #264
the workaround is to use "snapshot=off":

[code]

[2018-07-22 08:53] ignisf commented on #264
Hello,

Have you considered migrating to `mini_racer` instead?

[2018-07-22 08:58] blshkv commented on #264
this dep **was** required by beef and they have migrated to nodejs in https://github.com/beefproject/beef/pull/1591.
I'll suggest it.

[2018-07-22 11:02] ignisf commented on #264
Well, I already suggested to them to move to mini_racer, they decided not to, then when beef stopped working on newer versions of kali, I suggested they move to node and made a PR that got merged. See the author of the issue you linked.

[2018-07-22 14:30] ignisf commented on #264
Will close this for now -- trying to maintain this old version of v8 is not practical :/

[2018-07-22 14:30] #264 closed

[2018-07-22 14:34] blshkv commented on #264
Agreed, thank you for you quick responses.

[2018-07-24 00:54] mriveros opened #265 "ear"

[2018-07-24 03:35] ignisf commented on #265
I take it this was unintentional

[2018-07-24 03:35] #265 closed

[2018-07-25 08:30] lloeki opened #266 "Publish 3.16.14.19-x86_64-darwin-18 build to rubygems"
As it turns out, [cowboyd/therubyracer depends on ~> 3.16.14.15](https://github.com/cowboyd/therubyracer/blob/56da5e54751feca3a1ae056001c8cc469fdd641e/therubyracer.gemspec#L20), therefore it would be extremely helpful of someone to have `libv8-3.16.14.19-x86_64-darwin-18.gem` on rubygems.org, and since I see there's both [libv8-3.16.14.19-x86_64-darwin-17.gem](https://rubygems.org/gems/libv8/versi

[2018-07-25 08:44] ignisf commented on #266
Hey,

I will repackage it, thanks for the reminder

[2018-07-25 08:46] lloeki commented on #266
Awesome, thanks! (I'm pulling my hair right now to rebuild it locally and it keeps on failing for me 😭)

[2018-07-25 09:01] ignisf commented on #266
Could you test if https://github.com/cowboyd/libv8/releases/download/v3.16.14.19/libv8-3.16.14.19-x86_64-darwin-18.gem works for you before I push it to rubygems?

[2018-07-25 09:17] lloeki commented on #266
A simple test with therubyracer 0.12.3 is working!

[code]

[2018-07-25 09:22] ignisf commented on #266
awesome! I just pushed it.

[2018-07-25 09:22] #266 closed

[2018-09-19 18:02] Shaglock opened #268 "ls"

[2018-09-19 18:03] #268 closed

[2018-09-26 23:31] Adel-Magebinary commented on #221
hey all, I just hit this issue and it resolved easily in alpine with followings:

#context -> build ruby

RUN set -ex \
  && apk add --no-cache --virtual .ruby-builddeps \
    autoconf \
    bison \
    bzip2 \
    bzip2-dev \
    ca-certificates \
    coreutils \
    dpkg-dev dpkg \
    gcc \
    gdbm-dev \
    glib-dev \
    libc-dev \
    libffi-dev \
    libressl \
    libressl-dev \
    libxm

[2018-10-12 18:42] steev commented on #261
@ignisf so, there were some upstream changes to gn (which is good!);

I'm not sure how easy it would be to script to replace, however, you should be able to do the following to build a working binary.

[code]

The resulting binary `out/gn` could then be replaced in whatever location the build scripts are looking for it.

I've only tested the build itself on arm64, I haven't tried to build libv8.

[2018-10-12 20:22] ignisf commented on #261
Hello @steev, thank you for the ping

[2018-10-13 08:08] raguay commented on #266
I'm getting this:

[code]

I need it for handlebars gem.

[2018-10-25 01:32] rafaelmagu commented on #221
@Adel-Magebinary what version of Alpine are you using for your Dockerfile? Would you mind posting the whole file (if possible)?

[2018-10-25 01:53] Adel-Magebinary commented on #221
@rafaelmagu im running alpine 3.7

Below is the latest code that I can successfully build ruby & libv8. Just copy paste below to your Dockerfile.

[code]

[2018-10-25 02:04] rafaelmagu commented on #221
@Adel-Magebinary do you also use `therubyracer` gem by any chance? The above does indeed get me a working Ruby + libv8 image, but therubyracer install fails. :/

[2018-10-25 02:06] Adel-Magebinary commented on #221
@rafaelmagu  can you please paste the error here?

[2018-10-25 02:47] Adel-Magebinary commented on #221
@rafaelmagu  Can you please exec to /bin/bash in your docker and try to install it manually with gem. If it throws error and post it here?

[2018-10-25 02:55] rafaelmagu commented on #221
@Adel-Magebinary the gem installation doesn't fail anymore. I have decided to dump `therubyracer` altogether in favour of `mini_racer`.

[2018-10-25 02:56] Adel-Magebinary commented on #221
@rafaelmagu Interesting thing is you are from NZ too lol

[2018-10-25 11:08] IvayloT opened #269 "Fails to build on MacOS Mojave"
I'm having trouble installing libv8 as part of mini_racer on MacOs Mojave (v10.14). Error log is copied below. Let me know what other info I can share that would be helpful!

## Input
gem install libv8 -v '5.9.211.38.1'
## Output

[code]

[2018-10-25 11:13] ignisf commented on #269
Hello,

The version you are attempting to install is quite old. Have you tried updating (both mini_racer and libv8)?

[2018-10-25 11:30] ignisf commented on #269
Could you paste the output of the following commands please:

`grep -E 'mini_racer|libv8' Gemfile`

`gem env`

`bundle config`

[2018-10-25 11:36] IvayloT commented on #269
[code]

[code]
[code]

[2018-10-25 11:44] ignisf commented on #269
Try doing `gem uninstall libv8` and remove all old versions of libv8. Then clean up your bundler config with `bundle config --delete build.libv8` and `bundle config --delete build.therubyracer`.

After all of that, try installing mini_racer again.

[2018-10-25 12:00] IvayloT commented on #269
Hello,  I did the bundle config --delete and uninstalled all libv8 gems but I still receive an error.

[code]

Regards,

[2018-10-25 12:11] IvayloT commented on #269
Hello,

The problem is solved. Sorry for bothering you, the problem was in mini_racer version.
Version 1.4 doesn't support the newer versions of libv8, so I just updated to mini_racer 2.3 and everything is working now.

This issue can be closed!!

Regards

[2018-10-25 12:16] ignisf commented on #269
:+1:

[2018-10-25 12:16] #269 closed

[2018-10-27 23:04] deepj opened #270 "Release libv8 compiled with muslc support in Github Releases"
Hello,
since rubygems can't recognize used glibc or muslc support so it's not possible to release a gem compiled with muslc to rubygems.org. But it's still to possible to release it here in Releases and download it  from here and use it manually, e.g. this way:

[code]

It's not easy to set and compile `libv8` gem on Alpine Linux. This would help the folks who use Alpine Linux based Docker images.

[2018-10-28 13:38] volkanunsal commented on #221
It would have been great if `--with-system-v8` flag hadn't been removed after `v6.3` release. Makes it impossible to tell libv8 use a recent version of v8 on Alpine.

[2018-10-28 18:46] volkanunsal commented on #270
This would be great to have. I've been struggling to install libv8 on Alpine for a few days now.

[2018-10-28 18:53] volkanunsal opened #271 "Reintroduce using system v8 (for Alpine Linux support)"
I'm trying to install libv8 on Alpine. As has been noted here, libv8 build doesn't support Alpine's `muslc` library. So I thought I could use the system library with `--with-system-v8`, but saw that it had been removed in an earlier version. Is there an alternative? What is the best way to install libv8 on Alpine?

[2018-10-29 09:20] ssnake opened #272 "assert(v8_snapshot_toolchain != "" Assertion failed"
Hey guys,
Recently I bumped `libv8` version and things started to fail. I updated it from  6.3.292.48.1 to 6.7.288.46.1 and got following.

[code]

[2018-10-29 15:35] ignisf commented on #272
Hello, could you paste the output of `gem env` please?

[2018-10-29 15:39] ssnake commented on #272
[code]

[2018-10-29 18:05] ignisf commented on #272
ah.. I see now, thanks

[2018-11-13 22:59] DanielRedOak commented on #271
We're interested in this as well. You could install the libv8 package via apk and get things into system ruby, but we're doing things via bundler, Gemfiles, and Gemfile.lock so this really isn't viable.

[2018-11-19 13:33] ignisf commented on #270
Hello,

Sorry it took a while to get back to you, but while this might work as a workaround for one major issue to getting libv8 on Alpine, the current blocker is https://github.com/cowboyd/libv8/issues/259. I'd gladly publish a binary linked against musl if I could build one at all...

[2018-11-19 13:35] ignisf commented on #271
Hello,

Could you point me to a packaged V8 for Alpine? I would like to see how they managed to build the package and explore ways to use it.

I have been thinking about reintroducing linking against a shared library for of V8, however I want to do it correctly this time by verifying version compatibility as well.

[2018-11-19 14:58] ignisf opened #273 "Leverage cross-compilation for binary production"

[2018-11-20 23:42] ignisf opened #274 "undefined symbol: _ZNKSt3__119__shared_weak_count13__get_deleterERKSt9type_info when requiring gem linked against libv8 7.0"
We probably have a conflict due to the use of a custom libcxx by V8's build system.

[code]

Relevant links:

https://reviews.llvm.org/file/data/ckl3iejghvcctzsyxpap/PHID-FILE-gj2uveqtrt3misqrrqht/file

[2018-11-22 17:39] deepj commented on #270
@ignisf yeah, it's just a workaround. But I haven't noticed any issue in rubygems/bundler to reflect this issue (gem's muslc support). Maybe worth to create and start a discussion on this topic? I just don't know how to describe the problem well, so I would leave it on someone more knowledgeable/

[2018-11-30 21:39] courtland opened #275 "Publish libv8-5.9.211.38.1-x86_64-darwin-18.gem to rubygems"
I realize 5.9.211.38.1 is outdated, but I deploy to FreeBSD and develop under macOS, and due to issue #253 I am stuck at mini_racer 0.1.12 w/ libv8 5.9.211.38.1. Would it be possible to publish a binary gem for this version that works with macOS Mojave? Having a hard time getting it to compile manually. Thanks.

[2018-12-01 10:31] ignisf commented on #275
Could you test https://github.com/cowboyd/libv8/releases/download/v5.9.211.38.1/libv8-5.9.211.38.1-x86_64-darwin-18.gem before I push it to rubygems please?

[2018-12-03 17:13] courtland commented on #275
Yeah , I think so. I had the same thought, and just to be sure completely reinstalled ruby with rvm.

[code]

[2018-12-03 18:14] ryantstone commented on #275
I'm in the exact same situation and am receiving the exact same error. Libv8 is not installed.

[2018-12-04 17:56] ignisf commented on #275
`ld: library not found for -lstdc++` D:

[2018-12-06 14:37] emerak commented on #250
How did you fix this? I'm struggling with this error 🙏

[2018-12-06 15:48] ignisf commented on #250
Hya, I pushed a darwin-17 binary. @emerak have you tried updating?

[2018-12-13 12:51] hector commented on #275
+1
I also need this binary to test locally :)

[2018-12-14 14:13] drborges commented on #250
I'm running into the very same issue trying to install `mini_racer -v 0.1.14` on a MacOS Mojave (Darwin 18.2.0), [here's a gist](https://gist.github.com/drborges/f278553f3c022ae618591ff09a83f4f4) with the output in case it helps. Is there a Mojave specific resolution to this issue?

Please, let me know if I can do anything to help troubleshoot the problem.

[2018-12-15 22:43] drborges commented on #275
Hey there guys! I was running into the very same issue the entire day yesterday, and just now, after reading this thread, I was able to get `mini_racer -v '0.1.9'` installed on a MacOS Mojave.

Here's what I did:

1. Downloaded [libv8-5.9.211.38.1-x86_64-darwin-18.gem](https://github.com/cowboyd/libv8/releases/download/v5.9.211.38.1/libv8-5.9.211.38.1-x86_64-darwin-18.gem)
2. `gem install libv8-5.

[2018-12-15 23:07] ignisf commented on #275
@drborges thanks, that's a nice find. I will push it to rubygems!

[2018-12-15 23:14] ignisf commented on #275
The binary is pushed to rubygems. For future reference, the old `mini_racer` versions can be built after applying the workaround here: https://blog.driftingruby.com/updated-to-mojave/ ([Mirror in case this link dies](https://web.archive.org/web/20181215231047/https://blog.driftingruby.com/updated-to-mojave/))

[2018-12-15 23:14] #275 closed

[2019-01-07 17:32] ciroque commented on #271
Is there any update on this? It has become a huge problem for us...

[2019-01-24 07:40] shir commented on #266
How came to this with same error `fatal error: 'climits' file not found`. Here is a workaround which helped me:

[code]

[2019-01-28 13:05] Taiki-San commented on #261
Hi, I managed to build v8 version 6.7.288 on ARM64 (natively on Amazon's Graviton). Is there a way to contribute the binaries?

For the record, the patches were quite involved:
- `infra/mb/mb_config.pyl` had to be patched for `arm64.release` not to cross compile (achieved by replacing the `target_cpu` of `simulate_arm64`);
- `gn` had to be replaced/rebuilt to work on ARM64;
- `clang` had to be rep

[2019-03-10 07:28] SoreGums commented on #271
so how do we get bundler to see libv8-alpine as libv8?

bundle complains libv8 is not installed...

[2019-03-10 08:41] Taiki-San commented on #271
They're different packages, a the Gemfile need to detect when it's running on Alpine and gem `libv8-alpine` instead of `libv8`. The requesting gem also need to aware of the changes in names.
The fix would be to integrate those in the main libv8 package, but I don't know how it's done in other Ruby gems.

[2019-03-21 05:57] alexagranov opened #276 "missing libv8-6.7.288.46.1.gem in release assets?"
Not seeing that gem in assets for https://github.com/cowboyd/libv8/releases/tag/v6.7.288.46.1 and bundler now complaining:

[code]

I see there is a non-OS specific gem for other releases though.

[2019-03-21 08:53] ignisf commented on #276
Github has deleted it for some reason? It asked me to reupload

[2019-03-21 08:53] #276 closed

[2019-03-21 20:01] alexagranov commented on #276
thanks @ignisf !

[2019-04-09 23:09] SamSaffron opened #277 "Upgrading to v8 7.3"
Howdy @ignisf  appears we are quite behind on v8. Current version is 7.3.

Any chance we can look at an upgrade? Anything I can do to help?

[2019-04-11 11:53] ignisf commented on #277
Hi,
I have to get this sorted https://github.com/discourse/mini_racer/pull/117 as a start

There seem to be a few more incompatibilities that I have to check more closely

[2019-04-17 16:51] ignisf commented on #277
The few more incompatibilities are being tracked here: https://github.com/discourse/mini_racer/issues/115

[2019-04-24 14:56] ignisf commented on #277
The new version has been pushed to Rubygems

[2019-04-24 14:56] #277 closed

[2019-04-24 14:57] ignisf commented on #274
The issue was due to the use of the custom libc++ library V8 for gets shipped with for some reason.

[2019-04-24 14:57] #274 closed

[2019-04-25 23:05] gschlager opened #278 "Enable i18n support"
It looks like the following line prevents V8 from compiling with the `V8_INTL_SUPPORT` feature flag.

https://github.com/cowboyd/libv8/blob/2057f4683d0ed9df3a4880c21b67e47280dd436c/ext/libv8/builder.rb#L27

Without it things like Unicode Property Escapes do not work. For example, the following code snippet should work since V8 6.6, but it throws an error in `MiniRacer`.
[code]

Could you please co

[2019-05-07 08:22] ignisf commented on #278
Hi,

I've released a beta version with I18n enabled and debugging symbols. You should be able to take it for a spin by pinning to it.

![image](https://user-images.githubusercontent.com/1153188/57284692-5ee7fa80-70ba-11e9-9032-5f3d940730f2.png)

[2019-05-08 10:47] gschlager commented on #278
Thanks! It's still not working for me. I tested with the following code:

[code]

According to https://v8.dev/docs/i18n you are doing everything right. `v8_enable_i18n_support` is enabled and `MiniRacer` tries to [initialize ICU](https://github.com/discourse/mini_racer/blob/cad52dfcb10c384eae7f7b076a3d3b3b65022a62/ext/mini_racer_extension/mini_racer_extension.cc#L189).

I see that the gem grew in

[2019-05-08 11:28] ignisf commented on #278
I think you're on to something, will take a look if I need to change the ldflags

[2019-05-14 08:53] ignisf commented on #262
The beta binaries have debugging support enabled.

[2019-05-14 08:53] #262 closed

[2019-05-15 06:06] Harish-Prabhu-123 commented on #217
Hey, I'm using a windows 10 OS and need to use the libv8 gem on a project I'm working on. From all the research I have done about this issue I assume there is no support for the gem on windows yet(correct me if I am wrong). Is there any other way I use the gem without having to change OS

[2019-05-22 15:14] alyssais commented on #271
This would be useful for us in Nixpkgs as well.

[2019-05-22 22:03] gschlager commented on #278
I'm not sure why, but the i18n methods in this beta version started working with the release of mini_racer 0.2.6 🤷‍♂

[2019-05-23 04:01] ignisf commented on #278
good to know... was wondering why I couldn't reproduce the issue

[2019-05-23 04:02] ignisf commented on #278
mini racer needed to be recompiled with the i18n enabled v8

[2019-06-22 15:58] sevospl commented on #253
It's already 2019 and we still don't have libv8 for FreeBSD.

Could anyone build the newest version for FreeBSD, please? Still haven't managed to do this.

[2019-07-06 11:07] zimbatm opened #279 "Prefetch the v8 source during release"
Having the gem dynamically fetch the source at build time makes it hard to do offline installations. In Nix and probably other package managers we sandbox builds and describe all the network dependencies upfront. Having the source inside of the .gem file would make things a lot easier for us.

This would also solve #259 and #253.

Would you be open for me to submit a PR that does this?

[2019-07-06 11:19] ignisf commented on #279
Unfortunately it's not too simple to accomplish that. depot_tools downloads different things depending on the architecture you run it on :(. I welcome any suggestions.

[2019-07-06 11:31] zimbatm commented on #279
You're so right, i didn't think about that. The whole system doesn't seem particularly geared for easy packaging, only to cater to google engineers. I will try to reach out to upstream and see what is possible to do.

[2019-07-06 11:36] ignisf commented on #279
This has always been the №1 issue I've had with V8.

[2019-07-08 12:49] lloeki opened #280 "libv8 fails to build on macOS 10.15 (Catalina, darwin19)"
Clean install of macOS Public Beta 19A501i, Xcode 11 beta 2 11M337n. No Homebrew, just system Ruby (2.6.3-p62 (2019-04-16 revision 67580) [universal.x86_64-darwin19])

Tried multiple versions of the gem (from 6.7.288.46.1 to 7.3.492.27.3beta1), same failure: Seems like the call to `gclient sync` fails.

No binary version published yet, so it obviously falls back to building. Log output below.

if

[2019-07-09 07:40] lloeki commented on #279
Looks like #280 is similar to #259 and #253, right?

[2019-07-09 07:55] ignisf commented on #279
Some sort of issue with depot_tools? Yes. It definitely seems so. I am yet to look into it though.

[2019-07-11 19:09] sevospl commented on #279
I'm glad that there are still people who are interested in making libv8 possible to be installed on platforms like FreeBSD and others. I wish I could finally use it on /BSD, especially because of Discourse.

[2019-07-14 15:13] Fudoshiki commented on #280
macOS Beta 10.15 (19A501i)
homebrew
ruby-2.6 via rvm
bundle install freezes on libv8 gem

[2019-07-14 19:30] ignisf commented on #280
it probably doesn't freeze.. just takes 40 minutes to compile since I haven't gotten around to publishing a binary version

[2019-07-15 02:29] Fudoshiki commented on #280
@ignisf thank you

[2019-07-15 18:50] Fudoshiki commented on #280
[code]

[2019-07-19 17:18] lloeki commented on #280
@ignisf Were you successful in building it on darwin19? If that's the case it would be super helpful for you to release some binary darwin19 builds for a couple of versions on rubygems so that we can check early if our dependency gems (`mini_racer` and `sq_mini_racer`) work before the final release.

[2019-07-19 17:27] Fudoshiki commented on #280
Failing too after clean install Catalina

[2019-07-19 17:27] Fudoshiki commented on #280
same error

[2019-07-22 07:48] nonusae commented on #280
Same issue here on Catalina - libv8 @ 6.7.288.46.1

[2019-07-22 08:06] ignisf commented on #280
Hello,
Could you test these for me (the universal is for MacOS' native Ruby, the x86_64 is for RVM Ruby):

https://github.com/cowboyd/libv8/releases/download/v7.3.492.27.1/libv8-7.3.492.27.1-universal-darwin-19.gem
https://github.com/cowboyd/libv8/releases/download/v7.3.492.27.1/libv8-7.3.492.27.1-x86_64-darwin-19.gem

[2019-07-22 08:33] lloeki commented on #280
@ignisf Quickly tested with mini_racer 0.2.6:

- universal on macOS-provided Ruby: OK
- x86_64 on custom built Ruby 2.6 (`ruby-install`): OK

Testing method: ran the following in IRB.

[code]

Quick notes unrelated to libv8 itself:

- macOS provided `gem install` seems to fail to fetch any gem from rubygems (I just downloaded `mini_racer` manually in that case)
- one of my machines still has Xcode

[2019-07-22 08:35] lloeki commented on #280
Additional note: Catalina thinned everything to `x86_64` so not sure about `universal`?

[2019-07-22 08:40] nonusae commented on #280
Solved my problem by require `'mini_racer', '~> 0.2.6'` instead of 'mini_racer', '~> 0.2.0' to make gemfile.lock require `libv8 7..3492.271` instead of `6.7.288.46.1` and use above gem file to install `libv8`.

Thanks you.

[2019-07-22 08:49] lloeki commented on #280
@ignisf also ran unit tests on `mini_racer`'s master. All tests pass but I have an extra `Uncaught TypeError: Cannot create property 'kevin' on number '2'` output:

[code]

I don't know if this was present before.

Anyway, thanks *a lot* for this @ignisf !

[2019-07-22 10:22] ignisf commented on #280
I've pushed the `darwin-19` binaries to rubygems

[2019-08-07 16:06] ignisf commented on #253
@sevospl, https://bugs.chromium.org/p/chromium/issues/detail?id=857057#c7

[2019-08-16 22:02] willc0de4food commented on #280
How would one go about getting therubyracer to use that version of libv8? I was able to gem install therubyracer, but bundle still fails with `Libv8::Location::System::NotFoundError`

[2019-08-16 22:34] ignisf commented on #280
@willc0de4food, unfortunately the only way to do so is by rewriting large parts of therubyracer. https://github.com/cowboyd/therubyracer/pull/348

[2019-08-16 22:40] willc0de4food commented on #280
Ahh, I see.. Well, at least it's in the works. Thanks!

[2019-09-11 06:45] SamSaffron opened #281 "Upgrading to v8 7.7"
howdy @ignisf

Looks like we are a few releases behind, any chance we can get this upgraded? Any work needed on mini racers side?

[2019-09-11 07:23] ignisf commented on #281
will check

[2019-09-11 12:41] ignisf commented on #281
There are a couple of compatibility issues again :(

[code]

[2019-09-12 00:34] SamSaffron commented on #281
Oh no!!! scary!

[2019-10-01 04:56] #278 closed

[2019-10-11 06:29] GremL1N commented on #253
so badly

[2019-10-11 06:44] GremL1N commented on #253
In FreeBSD there is port to build v8. (lang/v8). Can we use it in some way?

[2019-10-11 06:56] ignisf commented on #253
as far as I can tell the port there is of version 3.18 so unfortunately no

[2019-10-29 14:22] mikekytyzov opened #282 "libv8 fails to build on Catalina 10.15"
macos 10.15.1 Beta (19B86a)
gem version 3.16.14.19
x86_64-darwin19

[code]

i tried to compile locally, but still the same error

[2019-10-29 17:26] alex-tazy commented on #282
Have you tried [this](https://gist.github.com/fernandoaleman/868b64cd60ab2d51ab24e7bf384da1ca) ?

[2019-10-29 17:35] ignisf commented on #282
this will not work with mini racer which requires newer versions of v8

[2019-10-30 09:38] alex-tazy commented on #282
This works for me (macOS Catalina 10.15):

gem install libv8 -v '3.16.14.19' -- --with-system-v8
gem install therubyracer -v '0.12.3' -- --with-v8-dir=/usr/local/opt/v8@3.15

[2019-11-11 16:17] drewish commented on #280
Got past my roadblock. It was getting stuck in `Libv8::Builder::setup_build_deps!` with a `git-remote-https`? (I should noted the name at the time) process at 100% CPU trying to checkout the source but making no progress over several hours.

Eventually after trying it a few times I just went into `vendor/v8` and did a `git fetch -v` so I could see what was happening. That finished in a matter of s

[2019-11-12 06:53] taimoorsendoso commented on #205
@kovyrin answer worked for me. Kudos

[2019-11-12 08:41] anandraj007 commented on #266
@raguay  could you please tell me how did you solve the problem .I am getting the same error in mac os newest version.

[2019-11-12 12:03] raguay commented on #266
@anandraj007 I never did myself. I left using ruby and am now doing everything in nodejs. But, you should try what @shir says to do above. It might help.

[2019-11-12 12:25] anandraj007 commented on #266
Thanks, I'll check it out.

On Tue, 12 Nov 2019, 17:33 Richard Guay, <notifications@github.com> wrote:

[2019-11-15 20:41] ahujasushant commented on #280
https://stackoverflow.com/questions/33475709/install-therubyracer-gem-on-osx-10-11-el-capitan/36263542

Try using this solution. This worked for me.

[2019-11-21 15:04] cowboyd opened #284 "Move `libv8`, `therubyracer`, `therubyrhino` to a `rubyjs` organization"
The time has long since passed that these should be on my own personal account. Other folks are maintaining this software and developing the tools and community, and I'm just a drag on it.

I'd like to propose creating a `rubyjs` org to take the usage of JavaScript in Ruby forward, probably with @ignisf and @SamSaffron as the admins.

[2019-11-24 23:06] SamSaffron commented on #284
I love this idea and am happy to put mini_racer under that umbrella org as well!

Happy to leave you @cowboyd  with commit rights on the whole org if you would still like to participate in some form.

@ignisf  clearly gets commit rights. I do feel like it would be nice to have 1 more committer though in case both me and @ignisf  are out for a bit.

[2019-11-24 23:35] madscientist159 opened #285 "ppc64le support"
Stock libv8 has native support for ppc64le, but the default Gem install process tries to pull in a bunch of x86_64 tooling binaries from Google.

There should be a ppc64le build of the libv8 gem for Linux, given ppc64le is the only open ISA system  with enough horsepower to run Ruby.

[2019-11-26 18:47] cowboyd commented on #284
Sounds good, what shall we call it?

[2019-11-27 02:21] SamSaffron commented on #284
I like rubyjs if it is available somehow.

On Wed, Nov 27, 2019 at 5:47 AM Charles Lowell <notifications@github.com>
wrote:

[2019-12-02 17:06] cowboyd commented on #284
It looks like it's hasn't had any activity for the last five years. Maybe @hasclass or @PikachuEXE would be willing to donate it?

[2019-12-03 01:36] hasclass commented on #284
@cowboyd it's been inactive and i don't know of anyone relying on it, so I'd be happy to donate the rubyjs organisation and the rubyjs.org domain. Sent you an email.

[2019-12-04 16:38] cowboyd commented on #284
Thanks to gracious donation from @hasclass, I'm closing this issue from the new home of `libv8`, the [rubyjs](https://github.com/rubyjs/libv8/issues/284) org!

He's also volunteered to donate the rubjs.org if anyone thinks there should be a website for it. Also, looks like we'll need some kind of logo to replace the space invader icon.

[2019-12-04 16:38] #284 closed

[2019-12-04 22:03] SamSaffron commented on #284
@cowboyd can you grant me admin on rubyjs, I will then move mini_racer there :confetti_ball:

[2019-12-06 01:01] ignisf commented on #284
@SamSaffron you already have a pending invitation

[2019-12-06 01:22] SamSaffron commented on #284
cool ... mini racer is now moved !!! :)

On Fri, Dec 6, 2019 at 12:01 PM Petko Bordjukov <notifications@github.com>
wrote:

[2019-12-23 17:47] frzng commented on #282
If you don’t have system version of v8 (perhaps you have difficulty compiling it anyway or because you’re nervous relying on some package manager which has different version), you can do the following to fix the build:

    env \
      CXX=clang++ \
      GYPFLAGS=-Dmac_deployment_target=10.9 \
    gem install libv8 --version 3.16.14.19

This assumes you have typical developer setup on Mac – lates

[2019-12-30 21:44] davithss commented on #282
@frzng Thank you, it worked here! I spent several hours trying to fix this, and finally, I arrived here 😅 .

[2019-12-31 17:28] cgriego commented on #280
@ignisf Could we get a or some some darwin19 binary gem packages that satisfy therubyracer's version constraint?

[2020-01-02 09:28] yoonkwon commented on #282
if somebody gets error installing therubyracer, try `brew install v8-315`

[2020-01-02 17:50] bsbodden commented on #282
I can confirm this worked on Catalina with ruby 2.1.2p95 (legacy project).  I added:
[code]
to my .zshrc

[2020-01-05 05:30] channainfo commented on #280
Work for me too.

[2020-01-10 14:45] lloeki commented on #270
Hey @ignisf, we ([Sqreen](GitHub.com/sqreen)) maintain and push [libv8-alpine](https://rubygems.org/gems/libv8-alpine) and [libv8-solaris](https://rubygems.org/gems/libv8-solaris) gems, which we built by fetching source outside of the target platforms, then building `libv8_monolith.a` (with some build system patches). It's hackish, and currently stuck at 6.8.

To achieve a sustainable solution, we

[2020-02-01 14:16] viktorianer commented on #282
`brew install v8-315` worked on Catalina!

[2020-02-03 15:24] lloeki commented on #271
Made a comment here regarding musl support and a possible partially upstream solution: https://github.com/rubyjs/libv8/issues/270#issuecomment-573063347

[2020-02-03 15:24] lloeki commented on #259
Made a comment here regarding musl support and a possible partially upstream solution: https://github.com/rubyjs/libv8/issues/270#issuecomment-573063347

[2020-02-03 15:31] lloeki opened #289 "Release for Solaris/SmartOS"
We currently maintain sideband libv8-alpine (`x86_64-linux-musl`) and libv8-solaris (`x86_64-solaris-2.11`, which is what SmartOS is based on) gems, but it would be much better if those platforms were having binary releases right here.

Getting those built is a pain, so we're working with upstream NodeJS to have those libv8 static libs built and published publicly as part of their CI, as described

[2020-02-12 18:43] mzagaja commented on #282
This worked for me:
[code]

[2020-02-17 07:42] mikhaillopandia opened #290 "No gem version could be found for universal-darwin-19"
macos 10.15.3
universal-darwin-19
gem version 2.6.14

For my project I need to install libv8 `6.7.288.46.1` version
But currently I can find no gem version for `universal-darwin-19`

`gem list libv8 --remote --all` shows:
[code]

As a result of instalation I get:
[code]

[2020-02-19 23:18] spagu opened #291 "7.3.492.27.1 does not build on FreeBSD 12.1"
`gem install libv8 -v '7.3.492.27.1' --source 'https://rubygems.org/'
`

`Traceback (most recent call last):
  File "/usr/local/lib/ruby/gems/2.6/gems/libv8-7.3.492.27.1/vendor/depot_tools/metrics.py", line 266, in print_notice_and_exit
    yield
  File "/usr/local/lib/ruby/gems/2.6/gems/libv8-7.3.492.27.1/vendor/depot_tools/gclient.py", line 3155, in <module>
    sys.exit(main(sys.argv[1:]))
  Fi

[2020-03-07 08:28] runlevel5 commented on #285
@madscientist159 the `depot_tools` by Chromium Dev team does not offer ppc64le binaries. In theory it is possible to substitute these tools with custom-built but there is no guarantee that it would perform exactly like it was meant to.

[2020-03-08 11:20] runlevel5 commented on #285
@madscientist159 I managed to get the libv8 v8.1.307.20 built under docker, if you are interested in how, please check out https://github.com/runlevel5/v8-ppc64le

Btw, I also manage build new libv8 gem https://github.com/runlevel5/v8-ppc64le/blob/master/libv8-8.1.307.20-powerpc64le-linux.gem if you need it.

[2020-03-09 23:01] runlevel5 commented on #291
@spagu I don't think it is supported. I reckon it is possible to compile v8 and build your own gem on FreeBSD. You could look into my approach https://github.com/runlevel5/v8-ppc64le and adapt that for FreeBSD.

[2020-03-16 08:41] runlevel5 opened #294 "Fix failed Travis CI build"
The current Travis CI has regressed since last year. The build failed because of max build timing out.

@ignisf wondering if you could get in touch with Travis support team via email to ask them increase the max build timeout?

[2020-03-27 16:46] seanmakesgames commented on #282
@ignisf Trying to upgrade mini_racer to latest on catalina.
Are we waiting for the v8 team to change their stuff so that we can compile on catalina, or is there something we can contribute in mini_racer or libv8 to get this working?

Seems like maybe there's a workaround here pointing catalina compiler to a different version of these header files -- haven't looked into it.

Let me know if I can he

[2020-04-09 03:58] gordolio commented on #250
I'm having this issue as well. I'll keep digging to see if other forums have solved it. Seems to be reoccurring with each new version of macOS.

[2020-04-09 04:02] gordolio commented on #250
using ' -- --with-system-v8' worked for me

`~/.rbenv/versions/2.2.5/bin/gem install libv8 -v '5.9.211.38.1' --source 'https://rubygems.org/' -- --with-system-v8`

[2020-04-14 15:29] runlevel5 commented on #294
I have asked Travis CI to extend timeout to 120m.

[2020-04-14 15:29] #294 closed

[2020-04-18 00:04] mcarpent87 commented on #282
You are a freaking hero! Thank you!!

[2020-05-08 16:30] benr75 commented on #282
This is what finally worked for me on Catalina:
[code]

[2020-05-09 04:02] ksylvest opened #298 "Bump V8 from v7.3 to v8.1"
I wanted to check if I could help in bumping from v7.3 to v8.1.

I've aded a PR (https://github.com/rubyjs/libv8/pull/297), but I'm a bit unclear what the next steps might be. I've:

1. Confirmed locally that `bundle exec rake` works (builds + specs):

[code]

[code]

2. Installed locally using `bundle exec rake install`:

[code]

3. Attempted to uninstall / re-install `mini_racer`

[code]

[code]

[2020-05-12 00:33] b33rcity commented on #282
Nothing in this thread has worked for me so far. I've come across multiple threads in various Github repos and on StackOverflow all suggesting the same steps, and a subset of other participants reporting that these steps are not working. I think people are overlooking this line from the error when running `gem install therubyracer -v '0.12.3' -- --with-v8-dir=/usr/local/opt/v8@3.15`:

[code]

This

[2020-06-28 23:46] kleytonmr commented on #282
Thanks bro!!! <3

[2020-07-20 00:55] #298 closed

[2020-07-21 13:28] nightpool commented on #280
Hi all, we've published binary versions for Catalina for both the 8.4 and 7.3 releases. Users of `therubyracer` are encouraged to switch to `mini_racer`, which uses up to date versions of v8 that have been compiled for Catalina.

[2020-07-21 13:28] #280 closed

[2020-07-21 13:29] nightpool commented on #282
Hi all, we've published binary versions for Catalina for both the current 7.3 release and the upcoming 8.4 release. Users of `therubyracer` are encouraged to switch to `mini_racer`, which uses up to date versions of v8 that have been compiled for Catalina.

[2020-07-21 13:29] #282 closed

[2020-07-21 13:34] nightpool commented on #291
Since this gem is a packaging of upstream v8 for Ruby, I'm not sure how in-scope it is for us to support operating systems that v8 itself doesn't support. If we wanted to go down this route, I think it makes more sense to support freebsd by reintroducing the `with-system-v8` option (either here or in downstream packages like `mini_racer`)

[2020-07-21 13:35] nightpool commented on #290
This should be fixed in the upcoming 8.4 release!

[2020-07-21 13:35] #290 closed

[2020-07-21 13:39] nightpool commented on #289
As i mentioned in #291, I'm not sure I'm comfortable with bringing the complexity of supporting these operating systems into libv8 if upstream isn't going to support them, but I'm tentatively interested in the plan you lay out with Node's build system. Has there been any movement on this topic recently? Who is your point of contact with Node / is there a tracking issue I can follow here?

[2020-07-21 13:41] nightpool commented on #270
@lloeki This does sound interesting! Can we create a new tracking issue for this? What's the next step to push this forward on Node's side? Are there any differences between Node's build configuration and ours that we'd have to sort out? Would we run into any incompatibilities with those who wanted to use their own version of v8?

[2020-07-21 13:52] nightpool commented on #279
@zimbatm For Nix's specific usecase, I think reintroducing the `use-system-v8` option would be the best path forward. Since this package is intended to be a very lightweight wrapper packaging upstream v8, I don't think it makes sense for us to become responsible for the burden of patching v8 for platforms that upstream doesn't support.

This flag would serve two benefits for Nix—it would allow for

[2020-07-21 14:23] nightpool commented on #281
Closed via #301 (pending rubygems release)

[2020-07-21 14:23] #281 closed

[2020-07-22 08:54] zimbatm commented on #279
The issue with using the system v8 is that the API might change. It has caused a few headaches in the past already. As a user, it is suprising when the Gem version doesn't map 1:1 with the v8 version.

[2020-07-23 02:41] runlevel5 commented on #291
@nightpool such a pain in the neck to get v8 compile for non-supported platform. Sometimes I wonder if moving to other JS engine is a better choice

[2020-08-07 13:32] hypersleep commented on #261
Hi everyone! I also managed to compile v8 for this gem for fully working rails application on AWS's Graviton c6g instance.

As said before the main problem is that binaries (clang, gn & ninja) that gonna be used to compile v8 libraries have been built for x86 architecture. i've just tried to recompile them and substitute with original ones.

I've consolidated all my work in Dockerfile in this repo

[2020-08-11 10:39] lloeki commented on #289
Thanks for the interest @nightpool!

Having to currently maintain it, we had basically the same rationale here, hence:

- the attempt to move (and collaborate) as upstream as possible so that the work (both workload and end result) is shared
- the look towards Node (whose upstream supports SmartOS and musl)

Since libv8 is an intermediate step of the Node build process, we fetch a given Node sourc

[2020-08-11 11:38] lloeki commented on #291
@runlevel5 we attempted use of nodejs’s vendored libv8, which made things somewhat easier (see discussion at #289)

[2020-08-11 11:44] lloeki commented on #270
I forgot how many issues might be tied to this. Let me create a new issue on this repo to track that overall.

[2020-08-11 12:15] lloeki opened #304 "Get libv8 from elsewhere (e.g Node)"
## Context

We (sqreen) currently maintain sideband libv8-alpine (x86_64-linux-musl) and libv8-solaris (x86_64-solaris-2.11, which is what SmartOS is based on) gems, but we thought it would be much better if those platforms were having binary releases right here. Windows and FreeBSD may be on the table in the future for us, which only makes it worse in the current situation.

From depot tools to b

[2020-08-11 12:20] lloeki commented on #270
Opened #304 as suggested!

[2020-08-11 12:21] lloeki commented on #289
Moving discussion to better-scoped #304

[2020-08-11 19:46] ryzokuken commented on #289
Thanks @lloeki for pinging me here directly.

The same rationale applies to the Chromium team, who rightly feel that it's an unnecessary burden to support building on non-desktop platforms. I doubt they will change their mind about it anytime soon.

That said, Node.js does infact support building on these platforms and would continue to do so for the foreseeable future. We currently do it using ou

[2020-08-24 17:02] lloeki opened #305 "Binary builds for darwin20 / macOS 11.0 Big Sur"
There is no binary gem published (yet) for 7.3.492.27.1 and 8.4.255.0. I failed to produce one (again because of depot tools acting up).

Not to be outdone, I produced this terrible hack to work around it.

Use as follows:

[code]

[code]

[2020-09-23 17:51] dlackty commented on #305
Confirmed this works on my laptop. Thank you!

[2020-09-24 06:30] lloeki commented on #305
This is a gross hack though, and I have encountered a couple of segfaults (still not sure why, just don’t expect this to be 100% stable) but at least it allows the ball to continue rolling.

[2020-09-26 07:53] arianf commented on #305
How has this not been fixed yet

[2020-10-01 13:49] cowboyd opened #306 "register rubyjs.org ?"
The original owner of the `rubyjs` github org (@hasclass), also has the `https://rubyjs.org` domain name registered and has offered to donate it to the project. While I don't have the time or the sponsorship to pursue it, others here might. If anybody, or anybody's company is willing to shoulder the cost of registration which is quite minimal, it could be a nice home for a website.

If not, it wil

[2020-10-12 08:02] lloeki commented on #306
Hey @cowboyd, we discussed this at Sqreen and we're open to discuss sponsoring this.

[2020-10-14 14:12] cowboyd commented on #306
@lloeki Awesome!!! @SamSaffron @ignisf what do you all think would be the best way to structure the registration of this (and other shared project resources?

[2020-10-14 23:26] SamSaffron commented on #306
This is tricky, can there be an org account on namecheap? then me, you and @ignisf  can all have access to the domain so there is no chance it gets lost if one of us vanishes.

As to paying for the domain, no problem at all Discourse can pay for this no drama at all. Bigger question is who can make a nice website for this thing? What are we going to put on it?

[2020-10-15 16:06] cowboyd commented on #306
I don't know if namecheap does, but we could always transfer it over to dnsimple which has support for orgs. I'd imagine just keeping it for the simplest of placeholders until the need for a website arises.

[2020-10-16 03:35] SamSaffron commented on #306
Dnsimple works for me, if you get the account sorted and invite me, I can
sort the bill up and at least setup a redirect to github on the domain

On Fri, 16 Oct 2020 at 3:06 am, Charles Lowell <notifications@github.com>
wrote:

[2020-10-19 20:57] dlangille commented on #291
Recent release are no better on FreeBSD 12.1

[code]

[2020-10-20 13:38] cowboyd commented on #306
@SamSaffron invite sent!

[2020-10-21 00:06] SamSaffron commented on #306
cool I am in, let me know what to do here, I can sort payment out.

[2020-10-21 14:14] cowboyd commented on #306
@SamSaffron If you can give me an email that I can make the admin account (it can't be yours or mine), then you can take the keys with it from there.